<div id="email-dialog" class="dialog email-dialog" [hidden]="hideEmailPopup">
  <div class="email-form-div">
    <form class="form-container email-form">
      <h1>{{title}}</h1>
      <!-- Email Header -->
      <div class="email-header-div">
        <!-- Email Attachements -->
        <div class="email-attachment-div">
          <div *ngFor="let attachment of attachments; let i = index;" class="attachment_layout">
            <span class="attachment-name-span" title="{{attachment.name.split('/').pop()}}">
              {{attachment.name.split('/').pop().substr(0,8)}}
            </span>
            <span class="attachment-remove-span" (click)="removeAttachment(i)">&times;</span>
          </div>
        </div>
        <!-- Email Attachement Icon -->
        <i class="icon_button fas fa-paperclip" (click)="openAttachmentSelector()"></i>
        <!-- Email Templates Section -->
        <div class="dropdown email-template-selector-dropdown-div">
          <!-- Selected Template -->
          <span class="input_field selected-template-name-dropdown-span" (click)="selectedTemplateClicked($event)">
            {{selectedEmailTemplate.label}}
            <i class="fas fa-caret-down"></i>
          </span>
          <!-- Other Templates -->
          <div class="dropdown-select-content" id="email_template_dropdown" [hidden]="hideEmailTemplateDropdownValues">
            <input class="input_field search-template-input-box" 
                   name="template_search_query" 
                   placeholder="Enter text"
                   (click)="searchTemplateClicked($event)"
                   (input)="searchTemplateChanged($event)">
            <button type="button" (click)="selectEmailTemplate($event)">-Select E-mail template-</button>
            <button type="button" 
                    *ngFor="let emailTemplate of filteredEmailTemplateList"
                    (click)="selectEmailTemplate($event, emailTemplate)">
              {{emailTemplate.label}}
            </button>
          </div>
        </div>
      </div>
      <!-- Email Form -->
      <textarea class="email-form-textarea" 
                [(ngModel)]="emailInterface.to"
                id="to_email"
                placeholder="To"
                name="to_email">
      </textarea>
      <textarea class="email-form-textarea" 
                [(ngModel)]="emailInterface.cc"
                id="cc_email"
                placeholder="Cc"
                name="cc_email">
      </textarea>
      <textarea class="email-form-textarea" 
                [(ngModel)]="emailInterface.bcc"
                id="bcc_email"
                placeholder="Bcc"
                name="bcc_email">
      </textarea>
      <textarea class="email-form-textarea" 
                [(ngModel)]="emailInterface.subject"
                id="email_subject"
                placeholder="Subject"
                name="email_subject">
      </textarea>
      <textarea class="email-body-textarea" 
                [(ngModel)]="emailInterface.body"
                id="email_body"
                name="email_body">
      </textarea>
      <!-- Email Action Buttons -->
      <div class="email-button-div">
        <button type="button" class="ok-button" (click)="sendEmail()">SEND</button>
        <button type="button" class="cancel-button" (click)="closeEmailPopup()">CLOSE</button>
      </div>
      <div class="form-mask" id="email-form-mask-loader" [hidden]="emailFormMaskLoaderHidden">
        <div class="form-loader"></div>
      </div> 
    </form>
    <!-- Email Attachement Input -->
    <input class="hidden_input" 
           value="Attachments" 
           id="select_attachments" 
           multiple 
           type="file" 
           name="attachment"
           accept="file/*"
           (change)="onAttachmentSelected($event)"/>
  </div>
</div>
