  .attachment_layout {
    display: flex;
    flex-direction: row;
    background-color: var(--colorPrimary);
    color: whitesmoke;
    border-radius: 4px;
    margin: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  }
  
  .attachment_layout span {
    padding: 4px 8px;
    font-size: medium;
  }
  
  .dropdown-select-content {
    display: block;
    position: absolute;
    background-color: #f0f0f0;
    right: 0;
    padding: 0 8px 8px;
    left: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
    max-height: 250px;
    overflow-y: auto;
  }
  
  .dropdown-select-content button {
    color: black;
    text-align: start;
    cursor: pointer;
    width: 100%;
    padding: 8px 12px;
    background-color: transparent;
    text-decoration: none;
    display: block;
    outline: none;
    border: none;
    font-size: 11pt;
    white-space: nowrap;
  }
  
  .dropdown-select-content button:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }

  .email-dialog {
    display: flex; 
    overflow-y: auto;
  }

  .email-form-div {
    width: 100%;
    display: flex; 
    flex-direction: column; 
    margin: 20px; 
    justify-content: center; 
    align-items: center;
  }

  .email-form {
    max-width: 70%; 
    min-width: 700px; 
    width: 70%
  }

  .email-header-div {
    display: flex; 
    flex-direction: row; 
    align-items: center;
  }

  .email-attachment-div {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    flex: 1 1 auto;
  }

  .attachment-name-span {
    cursor: default;
  }

  .attachment-remove-span {
    cursor: pointer;
  }

  .email-template-selector-dropdown-div {
    min-width: 225px;
  }

  .selected-template-name-dropdown-span {
    margin: 0; 
    width: 100%; 
    background-color: white; 
    cursor:pointer;
  }

  .search-template-input-box {
    width: calc(100% - 10px);
  }

  .email-body-textarea {
    min-height: 200px; 
    max-height: 200px; 
    border: solid 1px var(--divider);
  }

  .email-button-div {
    display: flex;
    flex-direction: row;
  }

  .email-button-div button {
    margin: 8px;
  }

  .email-form-textarea {
    max-height: 40px;
  }