<!--COLLAPSED GRID-->
<div id="{{'uigrid-collapsed-form-'+grid.id}}" class="uigrid" *ngIf="!hidden && grid.isCollapsable && !grid.stateExpanded">
  <!--Title Bar-->
  <div id="{{'uigrid-collapsed-form-'+grid.id+'-uigrid-title-toolbar'}}" class="uigrid-title-toolbar">
      <div id="{{'uigrid-collapsed-form-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'}}" class="uigrid-row">
          <div id="{{'uigrid-collapsed-form-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'}}" class="uigrid-cell fill"
                style="justify-content: center; align-items: center">
             <i
              id="{{'uigrid-collapsed-form-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-i-expandCollapseGrid'}}"
              class="fas fa-plus uigrid-order-icon-button collapse-expand-icon" style="padding: 2px"
              (click)="expandGrid()" *ngIf="!grid.stateExpanded"></i>
            <span id="{{'uigrid-collapsed-form-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-span-title'}}"
                  class="span-title">{{grid.title}}</span>
            <button
              id="{{'uigrid-collapsed-form-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-button-downloadGridData'}}"
              class="uigrid-green-button" (click)="downloadGridData()" *ngIf="grid.showDownload">
              <i class="fa fa-download" style="color: white;"></i>Download Data
            </button>
          </div>
      </div>
  </div>
</div>
<!--EXPANDED GRID-->
<div id="{{'uigrid-expanded-form-'+grid.id}}" class="uigrid" *ngIf="!hidden && grid.stateExpanded">
  <!--Title Bar-->
  <div id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'}}" class="uigrid-title-toolbar">
    <div id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'}}" class="uigrid-row">
      <div id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'}}" class="uigrid-cell fill"
           style="justify-content: center; align-items: center">
         <i
          id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-i-expandCollapseGrid'}}"
          class="fas fa-minus uigrid-order-icon-button collapse-expand-icon" style="padding: 2px"
          (click)="collapseGrid()" *ngIf="grid.isCollapsable && grid.stateExpanded"></i>
        <span id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-span-title'}}"
              class="span-title">{{grid.title}}</span>
        <span 
            *ngIf="grid.showDownload"
            id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-span-ws-wos'}}" 
            style="display: flex">
          <label
              id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-span-label-ws'}}"
              class="tab_container" (change)="toggleStatePreservedDownload(true)">
            <input
              id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-span-label-input-radio-ws'}}"
              type="radio"
              name="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-span-label-input-radio-name-ws-wos'}}"
              [checked]="grid.downloadWithStatePreserved"
            />
            <span
              id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-span-label-span-text-ws'}}"
              class="tab_checkmark left">WS</span>
          </label>
          <label
            id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-span-label-wos'}}"
            class="tab_container" (change)="toggleStatePreservedDownload(false)">
            <input
              id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-span-label-input-radio-wos'}}"
              type="radio"
              name="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-span-label-input-radio-name-ws-wos'}}"
              [checked]="!grid.downloadWithStatePreserved"
            />
            <span
              id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-span-label-span-text-wos'}}"
              class="tab_checkmark right">WOS</span>
          </label>
        </span>
        <button
          id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-button-downloadGridData'}}"
          class="uigrid-green-button" (click)="downloadGridData()" *ngIf="grid.showDownload">
          <i class="fa fa-download" style="color: white;"></i>Download Data
        </button>
        <button id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-button-applyFilter'}}"
                *ngIf="grid.isFilterCapable" class="uigrid-green-button" (click)="applyFilter()">
          Apply Filter
        </button>
        <button id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-button-resetFilter'}}"
                *ngIf="grid.isFilterCapable" class="uigrid-blue-button" (click)="resetFilter()">
          Reset Filter
        </button>
        <span 
            *ngIf="grid.showOfflineToggle"
            id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-span-online-offline'}}" 
            style="display: flex">
          <label
            id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-label-toggleRemoteLoad-ONLINE'}}"
            class="tab_container" (change)="toggleRemoteLoad(false)">
            <input
              id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-label-toggleRemoteLoad-ONLINE-radio-onlineOfflineBtn'}}"
              type="radio"
              name="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-label-toggleRemoteLoad-radio-onlineOfflineBtn'}}"
              [checked]="!grid.offline"
            />
            <span
              id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-label-toggleRemoteLoad-ONLINE-span-Online'}}"
              class="tab_checkmark left">Online</span>
          </label>
          <label
            id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-label-toggleRemoteLoad-OFFLINE'}}"
            class="tab_container" (change)="toggleRemoteLoad(true)">
            <input
              id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-label-toggleRemoteLoad-OFFLINE-radio-onlineOfflineBtn'}}"
              type="radio"
              name="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-label-toggleRemoteLoad-radio-onlineOfflineBtn'}}"
              [checked]="grid.offline"
            />
            <span
              id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-label-toggleRemoteLoad-OFFLINE-span-Offline'}}"
              class="tab_checkmark right">Offline</span>
          </label>
        </span>
        <i
          id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-i-showColumnHideComponentPopup'}}"
          class="fas fa-cogs uigrid-order-icon-button" style="padding: 2px"
          (click)="showColumnHideComponentPopup()"></i>
        <i id="{{'uigrid-'+grid.id+'-uigrid-title-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-i-helpDialogPopup'}}"
           class="fas fa-info uigrid-order-icon-button" (click)="showGridHelpComponentPopup()"
           style="margin-left: 8px !important; text-align: center; padding: 2px"></i>
      </div>
    </div>
  </div>
  <!--Sorting Bar-->
  <div id="{{'uigrid-'+grid.id+'-uigrid-sorter-toolbar'}}" class="uigrid-sorter-toolbar" *ngIf="grid.isSortingCapable">
    <div id="{{'uigrid-'+grid.id+'-uigrid-sorter-toolbar'+'-uigrid-row'}}" class="uigrid-row">
      <div id="{{'uigrid-'+grid.id+'-uigrid-sorter-toolbar'+'-uigrid-row'+'-uigrid-cell'}}" class="uigrid-cell fill">
        <div id="{{'uigrid-'+grid.id+'-uigrid-sorter-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-sorter-tabs'}}"
             class="sorter-tabs">
          <div
            id="{{'uigrid-'+grid.id+'-uigrid-sorter-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-sorter-tabs'+'-sorter-button-'+sorter.id}}"
            class="sorter-button" *ngFor="let sorter of grid.sorters">
            <span
              id="{{'uigrid-'+grid.id+'-uigrid-sorter-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-sorter-tabs'+'-sorter-button-'+sorter.id+'-span-sorter-columnName'}}">{{sorter.columnName}}</span>
            <i
              id="{{'uigrid-'+grid.id+'-uigrid-sorter-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-sorter-tabs'+'-sorter-button-'+sorter.id+'-i-sorter-order-1'}}"
              *ngIf="sorter.order === 1" (click)="sortToggle(sorter, 2)" class="fas fa-arrow-up order_icon"></i>
            <i
              id="{{'uigrid-'+grid.id+'-uigrid-sorter-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-sorter-tabs'+'-sorter-button-'+sorter.id+'-i-sorter-order-2'}}"
              *ngIf="sorter.order === 2" (click)="sortToggle(sorter, 1)" class="fas fa-arrow-down order_icon"></i>
            <i
              id="{{'uigrid-'+grid.id+'-uigrid-sorter-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-sorter-tabs'+'-sorter-button-'+sorter.id+'-i-removeSorterFromSorterList'}}"
              class="fas fa-times order_icon" (click)="removeSorterFromSorterList(sorter)"></i>
          </div>
        </div>
        <button id="{{'uigrid-'+grid.id+'-uigrid-sorter-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-button-applySorter'}}"
                class="uigrid-green-button" (click)="applySorter()">
          Apply Sort
        </button>
        <button id="{{'uigrid-'+grid.id+'-uigrid-sorter-toolbar'+'-uigrid-row'+'-uigrid-cell'+'-button-resetSorter'}}"
                class="uigrid-blue-button" (click)="resetSorter()">
          Reset Sort
        </button>
      </div>
    </div>
  </div>
  <div style="overflow-x: auto; overflow-y: auto; max-height: 500px;"><!--REVIEW-->
    <!--Column Bar-->
    <div id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'}}" class="uigrid-column-header-toolbar">
      <!--Column Name Bar-->
      <div id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'}}" class="uigrid-row">
        <span
          id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-span-uigrid-cell-select_box'}}"
          *ngIf="grid.hasSelectionColumn" class="uigrid-cell select_box">
          <input
            id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-span-uigrid-cell-select_box'+'-input-selectionColumnSelectUnselectAll'}}"
            title="select all" type="checkbox" (change)="selectionColumnSelectUnselectAll($event.target)">
        </span>
        <span
          id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-span-uigrid-cell-select_box'}}"
          *ngIf="!grid.hasSelectionColumn" class="uigrid-cell select_box">
        </span>
        <div
          id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-column-'+column.id}}"
          class="uigrid-cell uigrid-cell-column-name" *ngFor="let column of grid.columns"
          [ngStyle]="{'display' : getColumnDisplayStyle(column)}">
          <div
            id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-column-'+column.id+'-column-header'}}"
            *ngIf="!column.hidden" class="column-header">
            <div hidden
                 id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-column-'+column.id+'-column-header'+'-remove-filter'}}"
                 class="column-header-filter" *ngIf="grid.isFilterCapable && column.filterable">
              <div
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-column-'+column.id+'-column-header'+'-remove-filter'+'-div-removeFilterFromColumn'}}"
                class="ui-grid-clear-filter-button" (click)="removeFilterFromColumn(column)">
                <i
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-column-'+column.id+'-column-header'+'-remove-filter'+'-div-removeFilterFromColumn'+'-filter-icon'}}"
                  class="fas fa-filter" style="color: #1E1E1E"></i>
                <i
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-column-'+column.id+'-column-header'+'-remove-filter'+'-div-removeFilterFromColumn'+'-remove-icon'}}"
                  class="fas fa-times remove" style="color: #1E1E1E"></i>
              </div>
            </div>
            <button
              id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-column-'+column.id+'-column-header'+'-button-hideColumn'}}"
              *ngIf="column.hideable" class="uigrid-blue-button" (click)="hideColumn(column)">Hide
            </button>
            <span
              id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-column-'+column.id+'-column-header'+'-span-title'}}"
              class="title">{{column.headerName}}</span>
            <div
              id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-column-'+column.id+'-column-header'+'-div-sortable'}}"
              *ngIf="grid.isSortingCapable && column.sortable">
              <i
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-column-'+column.id+'-column-header'+'-div-sortable'+'-i-arrow-up'}}"
                class="fas fa-arrow-up uigrid-order-icon-button" (click)="sortColumn(column, 1)"></i>
              <i
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-column-'+column.id+'-column-header'+'-div-sortable'+'-i-arrow-down'}}"
                class="fas fa-arrow-down uigrid-order-icon-button" (click)="sortColumn(column, 2)"></i>
            </div>
          </div>
        </div>
        <div
          id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-action-column'}}"
          class="uigrid-cell grid_actions" *ngIf="grid.hasActionColumn">
          <div
            id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-action-column'+'-column-header'}}"
            class="column-header">
            <span
              id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-name-bar'+'-uigrid-cell-action-column'+'-column-header'+'-span-title'}}"
              class="title">{{grid.actionColumn.label}}</span>
          </div>
        </div>
      </div>
      <!--Column Filter Bar-->
      <div id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'}}"
           class="uigrid-row">
        <span
          id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-span-uigrid-cell-select-box'}}"
          *ngIf="grid.hasSelectionColumn" class="uigrid-cell select_box"></span>
        <span
          id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-span-uigrid-cell-select-box'}}"
          *ngIf="!grid.hasSelectionColumn" class="uigrid-cell select_box"></span>
        <div
          id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id}}"
          *ngFor="let column of grid.columns" [ngStyle]="{'display' : getColumnDisplayStyle(column)}"
          class="uigrid-cell uigrid-cell-column-filter">
          <div
            id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'}}"
            *ngIf="grid.isFilterCapable && !(column.hidden) && column.filterable" style="width:100%;"><!--REVIEW-->
            <div
              id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-string'}}"
              *ngIf="column.dataType == 'string'">
              <span>
                <i
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-string'+'-i-search'}}"
                  class="fas fa-search"></i>
              </span>
              <span style="flex: 1 1 auto">
                <input style="width: 100%"
                       id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-string'+'-input-search'}}"
                       type="text" placeholder="search" #filterStringBox
                       class="{{grid.id + '-grid-input'}} {{grid.id + '-grid-column-input-'+ column.id}}"
                       (input)="columnFilteredTextChanged(column, $event.target)"/>
              </span>
              <span style="display: flex">
                <label
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-string'+'-label-toggleRemoteLoad-CS'}}"
                  class="tab_container" (change)="toggleCaseSensitiveSearch(column, true)">
                <input
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-string'+'-label-toggleRemoteLoad-radio-CsBtn'}}"
                  type="radio"
                  name="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-string'+'-label-toggleRemoteLoad-radio-CsBtn'}}"
                  [checked]="column.filter.textCaseSensitiveSearch"
                />
                <span
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-string'+'-label-toggleRemoteLoad-CS-span-CS'}}"
                  class="tab_checkmark left">CS</span>
              </label>
              <label
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-string'+'-label-toggleRemoteLoad-NCS'}}"
                class="tab_container" (change)="toggleCaseSensitiveSearch(column, false)">
                <input
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-string'+'-label-toggleRemoteLoad-radio-NcsBtn'}}"
                  type="radio"
                  name="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-string'+'-label-toggleRemoteLoad-radio-CsBtn'}}"
                  [checked]="!column.filter.textCaseSensitiveSearch"
                />
                <span
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-string'+'-label-toggleRemoteLoad-NCS-span-CS'}}"
                  class="tab_checkmark right">NCS</span>
              </label>
              </span>
            </div>
            <div
              id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-number'}}"
              class="filter_column" *ngIf="column.dataType == 'number'">
              <span
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-number'+'-span-GT'}}">GT</span>
              <input
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-number'+'-input-GT'}}"
                #filterNumberGT
                class="number_input {{grid.id + '-grid-input'}} {{grid.id + '-grid-column-input-'+ column.id}}"
                (input)="columnFilteredNumberChanged(column, $event.target, 'GT')"
                type="number" title="GT"><br>
              <span
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-number'+'-span-EQ'}}">EQ</span>
              <input
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-number'+'-input-EQ'}}"
                #filterNumberEQ
                class="number_input {{grid.id + '-grid-input'}} {{grid.id + '-grid-column-input-'+ column.id}}"
                (input)="columnFilteredNumberChanged(column, $event.target, 'EQ')"
                type="number" title="EQ"><br>
              <span
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-number'+'-span-LT'}}">LT</span>
              <input
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-number'+'-input-LT'}}"
                #filterNnumberLT
                class="number_input {{grid.id + '-grid-input'}} {{grid.id + '-grid-column-input-'+ column.id}}"
                (input)="columnFilteredNumberChanged(column, $event.target, 'LT')"
                type="number" title="LT">
            </div>
            <div
              id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-date'}}"
              class="filter_column" *ngIf="column.dataType == 'date'">
              <div
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-date'+'-div-after'}}">
                <i
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-date'+'-div-after'+'-i-cal'}}"
                  class="fas fa-calendar" (click)="date1.toggle()"></i>
                <span
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-date'+'-div-after'+'-span-label'}}"
                  #filterDdateLabelAfter
                  class="{{grid.id + '-grid-label-after'}} {{grid.id + '-grid-column-label-after-' + column.id}}">After</span>
                <input
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-date'+'-div-after'+'-input-after'}}"
                  type="text" ngbDatepicker #date1="ngbDatepicker" class="date_input"
                  (dateSelect)="columnFilteredDateChanged(column, $event, filterDdateLabelAfter, 'After')">
              </div>
              <div
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-date'+'-div-on'}}">
                <i
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-date'+'-div-on'+'-i-cal'}}"
                  class="fas fa-calendar " (click)="date2.toggle()"></i>
                <span
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-date'+'-div-on'+'-span-label'}}"
                  #filterDateLabelOn
                  class="{{grid.id + '-grid-label-on'}} {{grid.id + '-grid-column-label-on-' + column.id}}">On</span>
                <input
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-date'+'-div-after'+'-input-on'}}"
                  type="text" ngbDatepicker #date2="ngbDatepicker" class="date_input"
                  (dateSelect)="columnFilteredDateChanged(column, $event, filterDateLabelOn, 'On')"
                  title="On">
              </div>
              <div
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-date'+'-div-before'}}">
                <i
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-date'+'-div-before'+'-i-cal'}}"
                  class="fas fa-calendar" (click)="date3.toggle()"></i>
                <span
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-date'+'-div-before'+'-span-label'}}"
                  #filterDateLabelBefore
                  class="{{grid.id + '-grid-label-before'}} {{grid.id + '-grid-column-label-before-' + column.id}}">Before</span>
                <input
                  id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-date'+'-div-after'+'-input-before'}}"
                  type="text" ngbDatepicker #date3="ngbDatepicker" class="date_input"
                  (dateSelect)="columnFilteredDateChanged(column, $event, filterDateLabelBefore, 'Before')"
                  title="Before">
              </div>
            </div>
            <div
              id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-list'}}"
              *ngIf="column.dataType == 'list'">Choose from list
              <i
                id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-column-'+column.id+'-div-filterable'+'-div-dataType-list'+'-i-list'}}"
                class="fas fa-list {{id + 'grid_label'}} {{id + 'grid_column_label' + column.id}}"
                style="color: var(--colorPrimary); margin: 0 10px; cursor: pointer;" title="{{lookupMultiRendererForValue(column.filter.listValue, column.filterOptions)}}" #filterList
                (click)="showMultiSelectFilter(column, filterList)"></i>
            </div>
          </div>
        </div>
        <span
          id="{{'uigrid-'+grid.id+'-uigrid-column-header-toolbar'+'-uigrid-row-column-filter-bar'+'-uigrid-cell-action-column'}}"
          class="uigrid-cell grid_actions" *ngIf="grid.hasActionColumn">
            <!--Action Buttons-->
        </span>
      </div>
    </div>
    <!--Grid Records-->
    <div id="{{'uigrid-'+grid.id+'-uigrid-row-grid-record-'+record.id}}" *ngFor="let record of grid.filtered_records"
         class="uigrid-row">
      <div id="{{'uigrid-'+grid.id+'-uigrid-row-grid-record-'+record.id+'-uigrid-cell-select-box'}}"
            class="uigrid-cell select_box" *ngIf="grid.hasSelectionColumn">
        <input
          id="{{'uigrid-'+grid.id+'-uigrid-row-grid-record-'+record.id+'-uigrid-cell-select-box'+'-input-checkbox'}}"
          title="select" type="checkbox"
          (change)="selectionButtonCheckedUnchecked(record, $event.target)">
      </div>
      <div id="{{'uigrid-'+grid.id+'-uigrid-row-grid-record-'+record.id+'-uigrid-cell-select-box'}}"
            class="uigrid-cell select_box" *ngIf="!grid.hasSelectionColumn">
      </div>
      <div id="{{'uigrid-'+grid.id+'-uigrid-row-grid-record-'+record.id+'-uigrid-cell-column-'+column.id}}"
            class="uigrid-cell {{column.appliedClassNames}}" *ngFor="let column of grid.columns"
            [ngStyle]="{'display' : getColumnDisplayStyle(column)}" (click)="columnClicked(record, column)">
        <span
          id="{{'uigrid-'+grid.id+'-uigrid-row-grid-record-'+record.id+'-uigrid-cell-column'+column.id+'-span-column'}}"
          *ngIf="!(column.hidden)">
          {{defaultColumnValueRenderer(record, column)}}
          <a *ngIf="(column.lengthyData || column.multiList) && showMoreLink(record, column)" href="javascript:void(0);" style="color: blue;" (click)="columnClicked(record, column)">more...</a>
        </span>
      </div>
      <div id="{{'uigrid-'+grid.id+'-uigrid-row-grid-record-'+record.id+'-uigrid-cell-action-column'}}"
           *ngIf="grid.hasActionColumn" class="uigrid-cell grid_actions">
        <span
          id="{{'uigrid-'+grid.id+'-uigrid-row-grid-record-'+record.id+'-uigrid-cell-action-column'+'-span-button-'+button.id}}"
          *ngFor="let button of grid.actionColumn.buttons">
          <span 
            id="{{'uigrid-'+grid.id+'-uigrid-row-grid-record-'+record.id+'-uigrid-cell-action-column'+'-span-button-'+button.id+'-enabled-span'}}"
            *ngIf="checkActionCoulmnActionButtonRenderStatus(record, button)"
          > 
            <!-- Enabled Button -->
            <button
                id="{{'uigrid-'+grid.id+'-uigrid-row-grid-record-'+record.id+'-uigrid-cell-action-column'+'-span-button-'+button.id+'-button-'+button.id+'-enabled'}}"                
                class="{{button.btnclass}}" 
                (click)="actionColumnActionButtonClicked(record, button)"
                [disabled]="button.isDisabled"
              >
                {{button.label}}
              </button>
          </span>
          <span 
            id="{{'uigrid-'+grid.id+'-uigrid-row-grid-record-'+record.id+'-uigrid-cell-action-column'+'-span-button-'+button.id+'-disabled-span'}}"
            *ngIf="!checkActionCoulmnActionButtonRenderStatus(record, button)"  
          >
            <!-- Disabled Button -->
            <button
              id="{{'uigrid-'+grid.id+'-uigrid-row-grid-record-'+record.id+'-uigrid-cell-action-column'+'-span-button-'+button.id+'-button-'+button.id+'-disabled'}}"
              class="btnDisabled" 
              disabled="true"
            >
              {{button.label}}
            </button>
          </span>
        </span>
      </div>
    </div>
    <div id="{{'uigrid-'+grid.id+'-uigrid-row-grid-record-no-record'}}" *ngIf="!(grid.filtered_records.length > 0)"
         class="uigrid-row" style="height: 60px">
        <span class="uigrid-cell" style="line-height: 60px; font-weight: 600; border: 0px !important;">
            <i style="cursor: default; color: #7f7f7f">No Records</i>
        </span>
        <span class="uigrid-cell" style="line-height: 60px; font-weight: 600; border: 0px !important;" *ngIf="grid.store.responseError">
            <i style="cursor: default; color: #ec1f1f">{{grid.store.responseErrorMessage}}</i>
        </span>
    </div>
  </div>
  <!--Pagination Bar-->
  <div id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'}}" class="uigrid-row uigrid-pagination-toolbar">
    <div id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'+'-uigrid-cell'}}" class="uigrid-cell fill">
      <span id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'+'-uigrid-cell'+'-span-total-records'}}"
            style="margin-right: 20px"><b> Total Records: {{grid.store.totalRecords}}</b></span>
      <div id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'+'-uigrid-cell'+'-div-records-per-page'}}"
           *ngIf="grid.isPagingCapable">
        <span
          id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'+'-uigrid-cell'+'-div-records-per-page'+'-span-label'}}">Records per page:</span>
        <select
          id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'+'-uigrid-cell'+'-div-records-per-page'+'-span-label'+'-select-combo'}}"
          title="per page" [(ngModel)]="grid.paginator.numberOfRecordsPerPage" style="margin: 0 10px">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <button id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'+'-uigrid-cell'+'-button-refreshGridData'}}"
              class="uigrid-green-button" (click)="refreshGridData()">Refresh Data
      </button>
      <div id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'+'-uigrid-cell'+'-div-gap'}}"
           style="flex: 1 1 auto"></div>
      <div id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'+'-uigrid-cell'+'-div-paging'}}"
           *ngIf="grid.isPagingCapable">
        <i id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'+'-uigrid-cell'+'-div-paging'+'-i-loadPreviousPage'}}"
           class="fas fa-arrow-left" style="color: #1E1E1E" (click)="loadPreviousPage()"></i>
        <span id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'+'-uigrid-cell'+'-div-paging'+'-span-page-info'}}"
              style="margin: 0 20px"><b>Page {{grid.paginator.totalPages > 0 ? grid.paginator.currentPage : 0}} of {{grid.paginator.totalPages}}</b></span>
        <i id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'+'-uigrid-cell'+'-div-paging'+'-i-loadNextPage'}}"
           class="fas fa-arrow-right" style="color: #1E1E1E" (click)="loadNextPage()"></i>
        <input id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'+'-uigrid-cell'+'-input-goto-page'}}"
               class="filter_input_field" type="number" #pageNumber placeholder="">
        <button id="{{'uigrid-'+grid.id+'-uigrid-pagination-toolbar'+'-uigrid-cell'+'-button-goToPageNumber'}}"
                class="uigrid-green-button" (click)="goToPageNumber(pageNumber.value)">Go to page
        </button>
      </div>
    </div>
  </div>
  <!--Selection Model Button Bar-->
  <div id="{{'uigrid-'+grid.id+'-uigrid-selection-model-button-toolbar'}}" class="uigrid-row uigrid-selection-model-button-toolbar" *ngIf="grid.hasSelectionColumn && grid.selectionColumn.totalButtons > 0">
      <div id="{{'uigrid-'+grid.id+'-uigrid-selection-model-button-toolbar'+'-uigrid-cell'}}" class="uigrid-cell fill">
          <span id="{{'uigrid-'+grid.id+'-uigrid-selection-model-button-toolbar'+'-uigrid-cell'+'-span-selection-column-actions'}}"
            style="margin-right: 20px"><b>Multiple Selection Actions - </b></span>
          <span
            id="{{'uigrid-'+grid.id+'-uigrid-selection-model-button-toolbar'+'-uigrid-cell'+'-span-button-'+button.id}}"
            *ngFor="let button of grid.selectionColumn.buttons">
              <button
                id="{{'uigrid-'+grid.id+'-uigrid-selection-model-button-toolbar'+'-uigrid-cell'+'-span-button-'+button.id+'-button-'+button.id}}"
                class="{{button.btnclass}}" 
                (click)="selectionColumnActionButtonClicked(button)"
                [disabled]="button.isDisabled"
              >
                {{button.label}}
              </button>
          </span>
      </div>
  </div>
  <!--Grid Mask-->
  <div class="grid-mask" id="{{'uigrid-'+grid.id+'mask-loader'}}" hidden>
    <div class="loader"></div>
  </div>
</div>
<!--GRID POPUPS-->
<!--Multi Select Popup Dialog-->
<div id="{{'multi-select-'+idForModalPopUp+'-dialog'}}" class="dialog" hidden>
  <div id="{{'multi-select-'+idForModalPopUp+'-dialog'+'-dialog-modal'}}" class="dialog_modal">
    <app-multi-select-input [data]="mulit_select_input_data" (apply)="handleMulitSelectApply($event)"
                            (close)="closeMultiSelectInput()" style="width: 100%"></app-multi-select-input>
  </div>
</div>
<!--Record Display Popup Dialog-->
<div id="{{'record-display-pop-up-'+idForModalPopUp+'-dialog'}}" class="dialog" hidden>
  <div id="{{'record-display-pop-up-'+idForModalPopUp+'-dialog'+'-dialog-modal'}}" class="dialog_modal">
    <app-grid-record-pop-up [recordDisplayInput]="record_display_input_data" (close)="dismissRecordDisplayPopUp()" style="width: 100%"></app-grid-record-pop-up>
  </div>
</div>
<!--Column Extra Data Display Popup Dialog-->
<div id="{{'column-extra-data-display-pop-up-'+idForModalPopUp+'-dialog'}}" class="dialog" hidden>
  <div id="{{'column-extra-data-display-pop-up-'+idForModalPopUp+'-dialog'+'-dialog-modal'}}" class="dialog_modal">
    <app-grid-column-extra-data 
                [columnExtraDataDisplayInput]="column_extra_data_display_input" 
                (proceedWithEvent)="handleProceedWithEventOnColumnExtraDataPopUpDismiss($event)" 
                (close)="dismissColumnExtraDataDisplayPopUp()" style="width: 100%"></app-grid-column-extra-data>
  </div>
</div>


