<div class="uigrid" *ngIf="showGrid">
  <div class="uigrid-title-toolbar">
    <div class="uigrid-row">
      <div class="uigrid-cell title">
        <span>{{title}}</span>
      </div>
    </div>
  </div>
  <div class="uigrid-sorter-toolbar" *ngIf="isSortingCapable">
    <div class="uigrid-row">
      <span class="uigrid-cell">
        <span class="sorter-button" *ngFor="let element of sorters">
          {{element.columnName}}
          <span *ngIf="element.order === 1">
            ASC
          </span>
          <span *ngIf="element.order === 2">
            DESC
          </span>
          <span (click)="removeColumnFromSorterList(element.id)">Remove</span>
        </span>
      </span>
    </div>
  </div>
  <div class="uigrid-column-header-toolbar">
    <div class="uigrid-row">
      <span *ngIf="hasSelectionColumn" class="uigrid-cell select_box">
        <input type="checkbox" (change)="selectionColumnSelectUnselectAll()">
      </span>
      <span *ngFor="let column of columns">
        <span class="uigrid-cell" *ngIf="!column.toBeHidden">
          <span class="column-header">
            <span *ngIf="isFilterCapable && column.filterable && getFilterByColumnId(column.id) != null">
            <span class="remove-filter-tab">
              <span (click)="removeFilterFromColumn(column.id)">Remove</span>
            </span>
            <span *ngIf="column.hideable">
              <button (click)="hideColumn(column.id)">Hide</button>
            </span>
              <label>{{column.headerName}}</label>
              <span *ngIf="isSortingCapable && column.sortable">
                <span (click)="sortColumn(column.id, 1)">ASC</span>
                <span (click)="sortColumn(column.id, 2)">DESC</span>
              </span>
            </span>
          </span>

        </span>
      </span>
      <span class="uigrid-cell" *ngIf="hasActionColumn">
        Action Buttons
      </span>
    </div>

    <div class="uigrid-row">
    <span *ngIf="hasSelectionColumn" class="uigrid-cell select_box">
      <span>
        <!--Blank Cell-->
      </span>
    </span>
      <span *ngFor="let column of columns">
      <span class="uigrid-cell" *ngIf="isFilterCapable && !column.toBeHidden && column.filterable">
        <span *ngIf="column.dataType == 'string'">
          <input type="text"/>
        </span>
        <span *ngIf="column.dataType == 'number'">
          <label>GT</label><input type="number">
          <label>EQ</label><input type="number">
          <label>LT</label><input type="number">
        </span>
      </span>
    </span>
      <span class="uigrid-cell" *ngIf="hasActionColumn">
        <!--Action Buttons-->
    </span>
    </div>
  </div>

  <div class="uigrid-record-section">
    <div *ngFor="let record of store.data" class="uigrid-row">
      <span class="uigrid-cell select_box" *ngIf="hasSelectionColumn">
        <input type="checkbox" (change)="selectionButtonCheckedUnchecked(record.id)">
      </span>
      <span class="uigrid-cell" *ngFor="let column of columns">
        {{record.getProperty(column.mapping)}}
      </span>

      <span *ngIf="hasActionColumn">
        <span class="uigrid-cell" *ngFor="let button of actionColumn.buttons">
          <button (click)="actionButtonClicked(record.id, button.id)">
            Button
          </button>
        </span>
      </span>
    </div>
  </div>

  <!--<div class="uigrid-paging-toolbar">-->
  <!--<div class="uigrid-row">-->
  <!--<span class="uigrid-cell">-->

  <!--</span>-->
  <!--</div>-->
  <!--</div>-->

</div>
