<!--Grid UI-->
<div class="uigrid" *ngIf="showGrid">

  <!--Title Bar-->
  <div class="uigrid-title-toolbar">
    <div class="uigrid-row">
      <div class="uigrid-cell fill" style="justify-content: center; align-items: center">
        <span style="flex: 1 1 auto;">{{title}}</span>
        <button class="uigrid-ok-button">
          Download Data
        </button>
        <button class="uigrid-ok-button" (click)="applyFilter()">
          Apply Filter
        </button>
        <button class="uigrid-cancel-button" (click)="resetFilter()">
          Reset Filter
        </button>
        <label class="tab_container" (click)="toggleRemoteLoad('ONLINE')">
          <input type="radio" name="onlineOfflineBtn" checked>
          <span class="tab_checkmark left">Online</span>
        </label>
        <label class="tab_container" (click)="toggleRemoteLoad('ONLINE')">
          <input type="radio" name="onlineOfflineBtn" checked>
          <span class="tab_checkmark right">Offline</span>
        </label>
      </div>

    </div>
  </div>

  <!--Sorting Bar-->
  <div class="uigrid-sorter-toolbar" *ngIf="isSortingCapable">
    <div class="uigrid-row">
      <div class="uigrid-cell fill">
        <div style="flex: 1 1 auto; flex-direction: row; display: flex;">
          <div class="sorter-button" *ngFor="let element of sorters">
            {{element.columnName}}
            <i *ngIf="element.order === 1" class="fas fa-arrow-up order_icon"></i>
            <i *ngIf="element.order === 2" class="fas fa-arrow-down order_icon"></i>
            <i class="fas fa-times remove order_icon" (click)="removeColumnFromSorterList(element.id)"></i>
          </div>
        </div>
        <button class="uigrid-ok-button" (click)="applySorter()">
          Apply Sort
        </button>
        <button class="uigrid-cancel-button" (click)="resetSorter()">
          Reset Sort
        </button>
      </div>
    </div>
  </div>

  <div style="overflow-x: auto;">
    <!--Column Bar-->
    <div class="uigrid-column-header-toolbar">

      <!--Column Name Bar-->
      <div class="uigrid-row">
      <span *ngIf="hasSelectionColumn" class="uigrid-cell select_box">
        <input title="select all" type="checkbox" (change)="selectionColumnSelectUnselectAll($event.target)">
      </span>
        <div class="uigrid-cell" *ngFor="let column of columns">
          <div *ngIf="!column.hidden" class="column-header">
            <div id="{{id+column.id+'remove-filter'}}"
                 *ngIf="isFilterCapable && column.filterable">
              <i class="fas fa-times remove" (click)="removeFilterFromColumn(column)"></i>
            </div>
            <button *ngIf="column.hideable" class="uigrid-stroked-white-button" (click)="hideColumn(column)">Hide
            </button>
            <span class="title">{{column.headerName}}</span>
            <div *ngIf="isSortingCapable && column.sortable">
              <i class="fas fa-arrow-up uigrid-order-icon-button" (click)="sortColumn(column, 1)"></i>
              <i class="fas fa-arrow-down uigrid-order-icon-button" (click)="sortColumn(column, 2)"></i>
            </div>
          </div>
        </div>
        <div class="uigrid-cell" *ngIf="hasActionColumn">
          <div class="column-header">
            <span class="title">Action Buttons</span>
          </div>
        </div>
      </div>

      <!--Column Filter Bar-->
      <div class="uigrid-row">
        <span *ngIf="hasSelectionColumn" class="uigrid-cell select_box"></span>
        <div *ngFor="let column of columns" class="uigrid-cell">
          <div *ngIf="isFilterCapable && !(column.hidden) && column.filterable" style="width:100%;">
            <div *ngIf="column.dataType == 'string'">
              <i class="fas fa-search"></i>
              <input type="text" placeholder="search" #string1 class="{{id + 'grid_input'}} {{id + 'grid_column_input'+ column.id}}"
                     (input)="columnFilteredTextChanged(column, $event.target)"/>
            </div>
            <div class="filter_column" *ngIf="column.dataType == 'number'">
              <span>GT</span>
              <input #number1 class="number_input {{id + 'grid_input'}} {{id + 'grid_column_input'+ column.id}}"
                     (input)="columnFilteredGreaterNumberChanged(column,$event.target)"
                     type="number" title="GT"><br>
              <span>EQ</span>
              <input #number2 class="number_input {{id + 'grid_input'}} {{id + 'grid_column_input'+ column.id}}"
                     (input)="columnFilteredEqualNumberChanged(column, $event.target)"
                     type="number" title="EQ"><br>
              <span>LT</span>
              <input #number3 class="number_input {{id + 'grid_input'}} {{id + 'grid_column_input'+ column.id}}"
                     (input)="columnFilteredLowerNumberChanged(column, $event.target)"
                     type="number" title="LT">
            </div>

            <div class="filter_column" *ngIf="column.dataType == 'date'">
              <div>
                <i class="fas fa-calendar" (click)="date1.toggle()"></i>
                <span #dateLabel1 class="{{id + 'grid_label'}} {{id + 'grid_column_label' + column.id}}">After</span>
                <input type="text" ngbDatepicker #date1="ngbDatepicker" class="date_input"
                       (dateSelect)="columnFilteredAfterDateChanged(column, $event, dateLabel1)">
              </div>
              <div>
                <i class="fas fa-calendar " (click)="date2.toggle()"></i>
                <span #dateLabel2 class="{{id + 'grid_label'}} {{id + 'grid_column_label' + column.id}}">On</span>
                <input type="text" ngbDatepicker #date2="ngbDatepicker" class="date_input"
                       (dateSelect)="columnFilteredOnDateChanged(column, $event, dateLabel2)"
                       title="On">
              </div>
              <div>
                <i class="fas fa-calendar" (click)="date3.toggle()"></i>
                <span #dateLabel3 class="{{id + 'grid_label'}} {{id + 'grid_column_label' + column.id}}">Before</span>
                <input type="text" ngbDatepicker #date3="ngbDatepicker" class="date_input"
                       (dateSelect)="columnFilteredBeforeDateChanged(column, $event, dateLabel3)"
                       title="Before">
              </div>
            </div>
            <div *ngIf="column.dataType == 'list'"> Choose from list
              <i class="fas fa-list {{id + 'grid_label'}} {{id + 'grid_column_label' + column.id}}"
                 style="color: var(--colorPrimary); margin: 0 10px; cursor: pointer;" #listButton
                 (click)="showMultiSelectFilter(column, listButton)"></i>
            </div>
          </div>
        </div>
        <span class="uigrid-cell" *ngIf="hasActionColumn">
        <!--Action Buttons-->
    </span>
      </div>
    </div>

    <!--Grid Records-->
    <div *ngFor="let record of filtered_records" class="uigrid-row">
      <span class="uigrid-cell select_box" *ngIf="hasSelectionColumn">
        <input id="{{id + 'checkbox' + record.id}}" title="select" type="checkbox"
               (change)="selectionButtonCheckedUnchecked(record.id, $event.target)">
      </span>
      <span class="uigrid-cell" *ngFor="let column of columns">
        <span *ngIf="!(column.hidden)">
          {{record.getProperty(column.mapping)}}
        </span>
      </span>

      <div *ngIf="hasActionColumn" class="uigrid-cell grid_actions">
        <span *ngFor="let button of actionColumn.buttons">
          <button (click)="actionButtonClicked(record.id, button.id)">
            Button
          </button>
        </span>
      </div>
    </div>

  </div>
  <!--Pagination Bar-->
  <div class="uigrid-row">
    <div class="uigrid-cell fill">
      <span style="margin-right: 20px"><b> Total Records: {{store.totalRecords}}</b></span>
      <div *ngIf="isPagingCapable">
        <span>Records per page:</span>
        <input class="filter_input_field" name="records-per-page" [(ngModel)]="paginator.numberOfRecordsPerPage"
               placeholder="per page">
      </div>
      <button class="uigrid-ok-button" (click)="refreshGridData()">Refresh Data</button>
      <div style="flex: 1 1 auto"></div>
      <div *ngIf="isPagingCapable">
        <i class="fas fa-arrow-left" (click)="loadPreviousPage()"></i>
        <span style="margin: 0 20px"><b>Page {{paginator.currentPage}} of {{paginator.totalPages}}</b></span>
        <i class="fas fa-arrow-right" (click)="loadNextPage()"></i>
        <input class="filter_input_field" type="number" #pageNumber placeholder="goto">
        <button class="uigrid-ok-button" (click)="goToPageNumber(pageNumber.value)">Go to page</button>
      </div>
    </div>
  </div>

</div>

<!--List Dialog-->
<div id="{{id + 'multi-select'}}" class="dialog" hidden>
  <div class="dialog_modal">
    <app-multi-select-input [data]="mulit_select_input_data" (apply)="handleMulitSelectApply($event)"
                            (close)="closeMultiSelectInput()" style="width: 100%"></app-multi-select-input>
  </div>
</div>
