<div id="prompt-dialog" class="dialog" [hidden]="hidePromptBox">
  <div class="dialog_modal">
    <span class="title">{{promptTitle}}</span>
    <form class="form-container prompt-form">
      <textarea 
              class="textarea_field"
              [(ngModel)]="textSectionValue"
              id="application-common-prompt-box-text"
              name="prompt_input_message"
              placeholder="{{placeHolderText}}" 
      ></textarea>
      <span *ngIf="showErrorMessage" 
            class="validation-error error-span">
            *Please enter the mandatory comments
      </span>
    </form>
    <div class="modal_control">
      <button class="ok-button"
              (click)="onOk()">
              OK
      </button>
      <button class="cancel-button"
              (click)="onCancel()">
              CANCEL
      </button>
    </div>
  </div>
</div>
