<div>
  <div id="query-list-page" *ngIf="!showSubmitQueryData">
    <div class="grid-all-expand-collapse-div">
      <span class="left expand-collapse-span" style="margin-right: 2%;" (click)="expandAllGrids()">
        <i style=" padding: 10px;" class="fa fa-plus"></i>Expand All
      </span>
      <span class="right expand-collapse-span" (click)="collapseAllGrids()">
        <i style=" padding: 10px;" class="fa fa-minus"></i>Collapse All
      </span>
    </div>
    <app-grid #nonContactedQueryGrid id="non-contacted-query-grid" [gridMetaData]="nonContactedQueryGridMetaData"></app-grid>
    <app-grid #nonAnsweredQueryGrid id="non-answered-query-grid" [gridMetaData]="nonAnsweredQueryGridMetaData"></app-grid>
    <app-grid #answeredQueryGrid id="answered-query-grid" [gridMetaData]="answeredQueryGridMetaData"></app-grid>
  </div>
  <div id="query-data-page" *ngIf="showSubmitQueryData">
    <button
      id="back-to-query-listing-button"
      class="back-to-listing-button ok-button" (click)="toggleVisibilityQueryGrid()">
      <i class="fas fa-chevron-left" style="padding-right: 15px;"></i>Back To Listing
    </button>
    <app-query-data 
                [querySerialId]="selectedQuerySerialId" 
                [submitQueryDataAccess]="submitQueryDataAccess">
    </app-query-data>
  </div>
</div>
