<div>
  <div id="map-tutor-to-enquiry-list-page" *ngIf="!showMapTutorToEnquiryData">
    <app-grid #toBeMappedEnquiriesGrid id="to-be-mapped-enquiries-grid" [gridMetaData]="toBeMappedEnquiriesGridMetaData"></app-grid>
  </div>
  <div id="map-tutor-to-enquiry-data-page" *ngIf="showMapTutorToEnquiryData">
    <button
      id="back-to-all-enquiries-listing-button"
      class="ok-button" (click)="toggleVisibilityAllEnquiriesGrid()">
      <i class="fas fa-chevron-left" style="padding-right: 15px;"></i>Back To Listing
    </button>
    <app-map-tutor-to-enquiry-data [enquiryRecord]="selectedEnquiryRecord" [enquiryMappingDataAccess]="enquiryMappingDataAccess"></app-map-tutor-to-enquiry-data>
  </div>
</div>
