<div>
  <div id="map-tutor-to-enquiry-list-page" *ngIf="!showMapTutorToEnquiryData">
    <app-grid #pendingEnquiriesGrid id="pending-enquiries-grid" [gridMetaData]="pendingEnquiriesGridMetaData"></app-grid>
    <app-grid #completedEnquiriesGrid id="completed-enquiries-grid" [gridMetaData]="completedEnquiriesGridMetaData"></app-grid>
    <app-grid #abortedEnquiriesGrid id="aborted-enquiries-grid" [gridMetaData]="abortedEnquiriesGridMetaData"></app-grid>
  </div>
  <div id="map-tutor-to-enquiry-data-page" *ngIf="showMapTutorToEnquiryData">
    <button
      id="back-to-all-enquiries-listing-button"
      class="ok-button" (click)="toggleVisibilityAllEnquiriesGrid()">
      <i class="fas fa-chevron-left" style="padding-right: 15px;"></i>Back To Listing
    </button>
    <app-enquiries-data [enquiriesRecord]="selectedAllEnquiriesRecord" [allEnquiriesDataAccess]="allEnquiriesDataAccess"></app-enquiries-data>
  </div>
</div>
