<div style="display: flex; flex-direction: column; margin: 20px; justify-content: center; align-items: center">
  <form id="login-form" class="form-container" style="max-width: 800px">
    <h1>Compose Email</h1>

    <div style="display: flex; flex-direction: row; align-items: center;">
      <!--Attachements-->
      <div style="display: flex; flex-direction: row; flex-wrap: wrap; flex: 1 1 auto">
        <div *ngFor="let attachment of attachments; let i = index;" class="attachment_layout">
          <span title="{{attachment.name.split('/').pop()}}">{{attachment.name.split('/').pop()}}</span>
          <span style="cursor: pointer" (click)="removeAttachment(i)">&times;</span>
        </div>
      </div>

      <i class="icon_button fas fa-paperclip" onclick="document.getElementById('select_attachments').click()"></i>
      <select style="margin-top: 0" class="input_field" name="user-type" required [(ngModel)]="userType">
        <option value="Blank">User Type</option>
        <option value="admin">Employee</option>
        <option value="tutor">Tutor</option>
        <option value="customer">Parent &amp; Students</option>
      </select>
    </div>
    <input name="to_email" placeholder="To" required type="text">
    <input name="cc_email" placeholder="CC" required type="text">
    <input name="bcc_email" placeholder="BCC" required type="text">
    <input name="email_subject" placeholder="Subject" required type="text">
    <textarea id="email_body" name="email_body">

    </textarea>
  </form>

  <input class="hidden_input" value="Attachments" id="select_attachments" type="file" name="attachment"
         (change)="onAttachmentSelected($event)">
</div>
