<div>
  <div id="all-enquiries-list-page" *ngIf="!showAllEnquiriesData">
    <app-grid #pendingEnquiriesGrid id="pending-enquiries-grid" [gridMetaData]="pendingEnquiriesGridMetaData"></app-grid>
    <app-grid #toBeMappedEnquiriesGrid id="to-be-mapped-enquiries-grid" [gridMetaData]="toBeMappedEnquiriesGridMetaData"></app-grid>
    <app-grid #completedEnquiriesGrid id="completed-enquiries-grid" [gridMetaData]="completedEnquiriesGridMetaData"></app-grid>
    <app-grid #abortedEnquiriesGrid id="aborted-enquiries-grid" [gridMetaData]="abortedEnquiriesGridMetaData"></app-grid>
  </div>
  <div id="all-enquiries-data-page" *ngIf="showAllEnquiriesData">
    <button
      id="back-to-all-enquiries-listing-button"
      class="back-to-listing-button ok-button" (click)="toggleVisibilityAllEnquiriesGrid()">
      <i class="fas fa-chevron-left" style="padding-right: 15px;"></i>Back To Listing
    </button>
    <app-enquiries-data 
                  [enquiriesRecord]="selectedAllEnquiriesRecord" 
                  [allEnquiriesDataAccess]="allEnquiriesDataAccess"
                  [selectedRecordGridType]="selectedRecordGridType">
    </app-enquiries-data>
  </div>
</div>
