<div>
  <div id="enquiry-list-page" *ngIf="!showEnquiryData">
    <div class="grid-all-expand-collapse-div">
      <span class="left expand-collapse-span" style="margin-right: 2%;" (click)="expandAllGrids()">
        <i style=" padding: 10px;" class="fa fa-plus"></i>Expand All
      </span>
      <span class="right expand-collapse-span" (click)="collapseAllGrids()">
        <i style=" padding: 10px;" class="fa fa-minus"></i>Collapse All
      </span>
    </div>
    <app-grid #pendingEnquiryGrid id="pending-enquiry-grid" [gridMetaData]="pendingEnquiryGridMetaData"></app-grid>
    <app-grid #toBeMappedEnquiryGrid id="to-be-mapped-enquiry-grid" [gridMetaData]="toBeMappedEnquiryGridMetaData"></app-grid>
    <app-grid #completedEnquiryGrid id="completed-enquiry-grid" [gridMetaData]="completedEnquiryGridMetaData"></app-grid>
    <app-grid #abortedEnquiryGrid id="aborted-enquiry-grid" [gridMetaData]="abortedEnquiryGridMetaData"></app-grid>
  </div>
  <div id="enquiry-data-page" *ngIf="showEnquiryData">
    <button
      id="back-to-enquiry-listing-button"
      class="back-to-listing-button ok-button" (click)="toggleVisibilityEnquiryGrid()">
      <i class="fas fa-chevron-left" style="padding-right: 15px;"></i>Back To Listing
    </button>
    <app-enquiries-data 
                  [enquirySerialId]="selectedEnquirySerialId" 
                  [customerSerialId]="selectedCustomerSerialId" 
                  [enquiryDataAccess]="enquiryDataAccess">
    </app-enquiries-data>
  </div>
</div>
