<div
  style="display: flex; flex-direction: column; align-items: center; align-content: center; justify-content: center; padding: 30px">
  <form id="login-form" class="form-container">
    <h1>Login</h1>

    <span class="error" *ngIf="error.length>0">{{error}}</span>
    <input name="user-id" placeholder="Username" required type="text" [(ngModel)]="username">
    <input name="password" placeholder="Password" required type="password" [(ngModel)]="password">
    <select class="input_field" name="user-type" required [(ngModel)]="userType">
      <option value="Blank">Select User Type</option>
      <option value="admin">Employee</option>
      <option value="tutor">Tutor</option>
      <option value="customer">Parent &amp; Students</option>
    </select>
    <button type="submit" class="button-primary" style="display: flex; align-self: flex-end;" (click)="login()">
      Login
    </button>
    <span routerLink="/nlp/resetpassword" routerLinkActive="active" style="cursor: pointer;">Forgot Password</span>
  </form>
</div>
