<div>
  <div *ngIf="showMappingGrid">
    <app-grid #currentTutorMappingGrid 
              id="current-tutor-mapping-grid" 
              [gridMetaData]="currentTutorMappingGridMetaData">
    </app-grid>
    <app-grid #currentCustomerMappingGrid 
              id="current-customer-mapping-grid" 
              [gridMetaData]="currentCustomerMappingGridMetaData">
    </app-grid> 
  </div>
  <div *ngIf="showDemoGrid">
    <app-grid #currentTutorScheduledDemoGrid 
              id="current-tutor-scheduled-demo-grid" 
              [gridMetaData]="currentTutorScheduledDemoGridMetaData">
    </app-grid>
    <app-grid #currentCustomerScheduledDemoGrid 
              id="current-customer-scheduled-demo-grid" 
              [gridMetaData]="currentCustomerScheduledDemoGridMetaData">
    </app-grid> 
  </div>
  <div *ngIf="showMessage" class="form-container-div successMessage">
    {{textMessage}}
  </div>
  <div *ngIf="showRecordUpdateForm" class="form-container-div">
    <form *ngIf="showRecordUpdateForm" class="form-container" style="max-width: 80%">
      <div class="form-container-title">
        <span>Record Update Form</span>
      </div>
      <div class="form-container-toggle-button">
        <div *ngIf="showRecordUpdateEditControlSection">
          <label class="tab_container" (change)="setRecordUpdateFormEditStatus(false)">
            <input type="radio" [checked]="!editRecordForm" name="editFormChoice">
            <span class="tab_checkmark left">View</span>
          </label>
          <label class="tab_container" (change)="setRecordUpdateFormEditStatus(true)">
            <input type="radio" [checked]="editRecordForm" name="editFormChoice">
            <span class="tab_checkmark right">Edit</span>
          </label>
        </div>
      </div>
      <table class="form-container-generic-table">
          <tr style="background-color: aliceblue;" *ngIf="!showCustomerDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showCustomerDetails = true"></i>
            </td>
            <td>
              Show Customer Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showCustomerDetails = false"></i>
            </td>
            <td>
              Hide Customer Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Serial Id</label></td>
            <td><label class="data link_opener" (click)="openCustomerRecord()">{{tutorMapperRecord.customerSerialId}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Name</label></td>
            <td><label class="data">{{tutorMapperRecord.customerName}}</label></td>        
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Email</label></td>
            <td><label class="data">{{tutorMapperRecord.customerEmail}}</label></td>        
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Contact Number</label></td>
            <td><label class="data">{{tutorMapperRecord.customerContactNumber}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="!showEnquiryDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEnquiryDetails = true"></i>
            </td>
            <td>
              Show Enquiry Details
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEnquiryDetails = false"></i>
            </td>
            <td>
              Hide Enquiry Details
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Enquiry Serial Id</label></td>
            <td><label class="data link_opener" (click)="openEnquiryRecord()">{{tutorMapperRecord.enquirySerialId}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Subject</label></td>
            <td><label class="data">{{enquirySubjectLookupRendererFromValue}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Grade</label></td>
            <td><label class="data">{{enquiryGradeLookupRendererFromValue}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Preferred Teaching Type</label></td>
            <td><label class="data">{{enquiryPreferredTeachingTypeLookupRendererFromValue}}</label></td>                    
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Location</label></td>
            <td><label class="data">{{enquiryLocationLookupRendererFromValue}}</label></td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Address Details</label></td>
            <td>
              <div class="form-remakrs">{{tutorMapperRecord.enquiryAddressDetails}}</div>
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Additional Details</label></td>
            <td>
                <div class="form-remakrs">{{tutorMapperRecord.enquiryAdditionalDetails}}</div>
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Quoted Client Rate</label></td>
            <td><label class="data">{{tutorMapperRecord.enquiryQuotedClientRate}}</label></td>            
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Negotiated Rate With Client</label></td>
            <td><label class="data">{{tutorMapperRecord.enquiryNegotiatedRateWithClient}}</label></td></tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Client Negotiation Remarks</label></td>
            <td>
              <div class="form-remakrs">{{tutorMapperRecord.enquiryClientNegotiationRemarks}}</div>
            </td>
          </tr>          
          <tr>
            <td class="td-label"><label></label></td>
            <td><label class="data"></label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Tutor Mapper Serial Id</label></td>
            <td><label class="data">{{tutorMapperRecord.tutorMapperSerialId}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Mapping Status</label></td>
            <td><label class="data">{{tutorMapperStatusLookupRendererFromValue}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Tutor Serial Id</label></td>
            <td><label class="data link_opener" (click)="openTutorRecord()">{{tutorMapperRecord.tutorSerialId}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Tutor Name</label></td>
            <td><label class="data">{{tutorMapperRecord.tutorName}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Tutor Email</label></td>
            <td><label class="data">{{tutorMapperRecord.tutorEmail}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Tutor Contact Number</label></td>
            <td><label class="data">{{tutorMapperRecord.tutorContactNumber}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Quoted Tutor Rate</label></td>
            <td><input class="input_field" 
                        type="number" 
                        value="{{tutorMapperRecord.quotedTutorRate}}"
                        id ="quotedTutorRate"
                        [disabled]="!editRecordForm"
                        (change)="updateTutorMapperProperty('quotedTutorRate', $event, 'number')"></td>
          </tr>
          <tr>
            <td class="td-label"><label>Negotiated Rate With Tutor</label></td>
            <td><input class="input_field" 
                        type="number" 
                        value="{{tutorMapperRecord.negotiatedRateWithTutor}}"
                        id="negotiatedRateWithTutor"
                        [disabled]="!editRecordForm"
                        (change)="updateTutorMapperProperty('negotiatedRateWithTutor', $event, 'number')"></td>
          </tr>
          <tr>
            <td class="td-label"><label>Tutor Negotiation Remarks</label></td>
            <td>
                <textarea 
                        class="textarea_field"
                        id="tutorNegotiationRemarks"
                        [disabled]="!editRecordForm" 
                        (change)="updateTutorMapperProperty('tutorNegotiationRemarks', $event, 'string')"
                        >{{tutorMapperRecord.tutorNegotiationRemarks}}</textarea>
            </td>
          </tr>          
          <tr style="background-color: aliceblue;" *ngIf="!showTutorContactedDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showTutorContactedDetails = true"></i>
            </td>
            <td>
              Fill Tutor Contacted Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showTutorContactedDetails">
            <td class="td-label">
              <i
                id="employee-actions-details-collapser"
                class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                (click)="showTutorContactedDetails = false"></i>
            </td>
            <td>
              Hide Tutor Contacted Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showTutorContactedDetails">
            <td class="td-label"><label>Is Tutor Contacted</label></td>
            <td><label class="data">{{tutorMapperIsTutorContactedLookupRendererFromValue}}</label></td>          
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showTutorContactedDetails">
            <td class="td-label"><label>Tutor Contacted Date</label></td>
            <td><label class="data">{{tutorContactedDateAndTimeDisplay}}</label></td>          
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showTutorContactedDetails">
            <td class="td-label"><label>Is Tutor Agreed</label></td>
            <td>
              <ng-multiselect-dropdown [placeholder]="'Is Tutor Agreed'" [data]="yesNoFilterOptions"
                                       [(ngModel)] = "selectedIsTutorAgreedOption" name="selectedIsTutorAgreed"
                                       [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                       (onSelect)="updateTutorMapperProperty('isTutorAgreed', $event, 'list')"
                                       (onDeSelect)="updateTutorMapperProperty('isTutorAgreed', $event, 'list', true)">
              </ng-multiselect-dropdown>
            </td>          
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showTutorContactedDetails">
            <td class="td-label"><label>Is Tutor Rejection Valid</label></td>
            <td>
              <ng-multiselect-dropdown [placeholder]="'Is Tutor Rejection Valid'" [data]="yesNoFilterOptions"
                                       [(ngModel)] = "selectedIsTutorRejectionValidOption" name="selectedIsTutorRejectionValid"
                                       [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                       (onSelect)="updateTutorMapperProperty('isTutorRejectionValid', $event, 'list')"
                                       (onDeSelect)="updateTutorMapperProperty('isTutorRejectionValid', $event, 'list', true)">
              </ng-multiselect-dropdown>
            </td>          
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showTutorContactedDetails">
            <td class="td-label"><label>Tutor Response</label></td>
            <td>
              <textarea 
                      class="textarea_field"
                      id="tutorResponse"
                      [disabled]="!editRecordForm" 
                      (change)="updateTutorMapperProperty('tutorResponse', $event, 'string')"
                      >{{tutorMapperRecord.tutorResponse}}</textarea>
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showTutorContactedDetails">
            <td class="td-label"><label>Admin Tutor Rejection Validity Response</label></td>
            <td>
              <textarea 
                      class="textarea_field"
                      id="adminTutorRejectionValidityResponse"
                      [disabled]="!editRecordForm" 
                      (change)="updateTutorMapperProperty('adminTutorRejectionValidityResponse', $event, 'string')"
                      >{{tutorMapperRecord.adminTutorRejectionValidityResponse}}</textarea>
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showTutorContactedDetails">
            <td class="td-label"><label>Admin Remarks For Tutor</label></td>
            <td>
              <textarea 
                      class="textarea_field"
                      id="adminRemarksForTutor"
                      [disabled]="!editRecordForm" 
                      (change)="updateTutorMapperProperty('adminRemarksForTutor', $event, 'string')"
                      >{{tutorMapperRecord.adminRemarksForTutor}}</textarea>
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="!showClientContactedDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showClientContactedDetails = true"></i>
            </td>
            <td>
              Fill Client Contacted Details
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showClientContactedDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showClientContactedDetails = false"></i>
            </td>
            <td>
              Hide Client Contacted Details
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showClientContactedDetails">
            <td class="td-label"><label>Is Client Contacted</label></td>
            <td><label class="data">{{tutorMapperIsClientContactedLookupRendererFromValue}}</label></td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showClientContactedDetails">
            <td class="td-label"><label>Client Contacted Date</label></td>
            <td><label class="data">{{clientContactedDateAndTimeDisplay}}</label></td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showClientContactedDetails">
            <td class="td-label"><label>Is Client Agreed</label></td>
            <td>
              <ng-multiselect-dropdown [placeholder]="'Is Client Agreed'" [data]="yesNoFilterOptions"
                                       [(ngModel)] = "selectedIsClientAgreedOption" name="selectedIsClientAgreed"
                                       [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                       (onSelect)="updateTutorMapperProperty('isClientAgreed', $event, 'list')"
                                       (onDeSelect)="updateTutorMapperProperty('isClientAgreed', $event, 'list', true)">
              </ng-multiselect-dropdown>
            </td>              
          </tr>
          <tr style="background-color: beige;" *ngIf="showClientContactedDetails">
            <td class="td-label"><label>Is Client Rejection Valid</label></td>
            <td>
              <ng-multiselect-dropdown [placeholder]="'Is Client Rejection Valid'" [data]="yesNoFilterOptions"
                                       [(ngModel)] = "selectedIsClientRejectionValidOption" name="selectedIsClientRejectionValid"
                                       [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                       (onSelect)="updateTutorMapperProperty('isClientRejectionValid', $event, 'list')"
                                       (onDeSelect)="updateTutorMapperProperty('isClientRejectionValid', $event, 'list', true)">
              </ng-multiselect-dropdown>
            </td>              
          </tr>
          <tr style="background-color: beige;" *ngIf="showClientContactedDetails">
            <td class="td-label"><label>Client Response</label></td>
            <td>
              <textarea 
                      class="textarea_field"
                      id="clientResponse"
                      [disabled]="!editRecordForm" 
                      (change)="updateTutorMapperProperty('clientResponse', $event, 'string')"
                      >{{tutorMapperRecord.clientResponse}}</textarea>
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showClientContactedDetails">
            <td class="td-label"><label>Admin Client Rejection Validity Response</label></td>
            <td>
              <textarea 
                      class="textarea_field"
                      id="adminClientRejectionValidityResponse"
                      [disabled]="!editRecordForm" 
                      (change)="updateTutorMapperProperty('adminClientRejectionValidityResponse', $event, 'string')"
                      >{{tutorMapperRecord.adminClientRejectionValidityResponse}}</textarea>
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showClientContactedDetails">
            <td class="td-label"><label>Admin Remarks For Client</label></td>
            <td>
              <textarea 
                      class="textarea_field"
                      id="adminRemarksForClient"
                      [disabled]="!editRecordForm" 
                      (change)="updateTutorMapperProperty('adminRemarksForClient', $event, 'string')"
                      >{{tutorMapperRecord.adminRemarksForClient}}</textarea>
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="!showEmployeeActionDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEmployeeActionDetails = true"></i>
            </td>
            <td>
              Show Action Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showEmployeeActionDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEmployeeActionDetails = false"></i>
            </td>
            <td>
              Hide Action Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showEmployeeActionDetails">
            <td class="td-label"><label>Who Acted</label></td>
            <td><label class="data">{{tutorMapperRecord.whoActedName}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showEmployeeActionDetails">
            <td class="td-label"><label>Admin Action Date</label></td>
            <td><label class="data">{{adminActionDateAndTimeDisplay}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showEmployeeActionDetails">
            <td class="td-label"><label>Admin Action Remarks</label></td>
            <td>
              <textarea 
                      class="textarea_field"
                      id="adminActionRemarks"
                      [disabled]="!editRecordForm" 
                      (change)="updateTutorMapperProperty('adminActionRemarks', $event, 'string')"
                      >{{tutorMapperRecord.adminActionRemarks}}</textarea>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label>Is Demo Scheduled</label></td>
            <td><label class="data">{{tutorMapperIsDemoScheduledLookupRendererFromValue}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="!showEmployeeActionButtons && !takeActionDisabled">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEmployeeActionButtons = true"></i>
            </td>
            <td>
              Show Action Buttons
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEmployeeActionButtons && !takeActionDisabled">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEmployeeActionButtons = false"></i>
            </td>
            <td>
              Hide Action Buttons
            </td>
          </tr>  
          <tr style="background-color: beige;" *ngIf="showEmployeeActionButtons && !takeActionDisabled">
            <td></td>
            <td>          
              <table width="100%">
                  <tr>
                    <td>
                      <button type="submit"
                              *ngIf="canMakeDemoReady"
                              class="btnSubmit"
                              (click)="takeActionOnTutorMapperRecord('Enter comments for action', 'Please provide your comments for taking the action.', 'demoReady')">            
                              Demo Ready
                      </button>
                    </td> 
                    <td>
                      <button type="submit"
                              *ngIf="canMakePending"
                              class="btnReset"
                              (click)="takeActionOnTutorMapperRecord('Enter comments for action', 'Please provide your comments for taking the action.', 'pending', true)">            
                              Pending
                      </button>
                    </td>
                    <td>
                      <button type="submit"
                              *ngIf="canUnmapTutor"
                              class="btnReject"
                              (click)="unmapTutorRecord()">            
                              Un-map Tutor
                      </button>
                    </td>
                  </tr>
              </table>
            </td>
          </tr>
      </table>
      <table class="form-container-generic-table">
        <tr>
          <td align="right">
            <button *ngIf="showRecordUpdateButton" type="submit"
                    class="ok-button form-container-update-button"
                    (click)="updateTutorMapperRecord()">
              Update Tutor Mapper
            </button>
          </td>
          <td>
            <button *ngIf="showRecordUpdateButton" type="submit"
                    class="cancel-button form-container-update-button"
                    (click)="resetTutorMapperRecord()">
              Reset Tutor Mapper
            </button>
          </td>
        </tr>
      </table>
      <div class="form-mask" id="tutor-mapper-form-mask-loader" [hidden]="tutorMapperFormMaskLoaderHidden">
        <div class="form-loader"></div>
      </div>
    </form>    
    <form *ngIf="showSheduleDemoForm" class="form-container" style="max-width: 80%">
      <div class="form-container-title">
        <span>Schedule Demo Form</span>
      </div>
      <div class="form-container-toggle-button">
        <div *ngIf="showSheduleDemoForm">
          <label class="tab_container" (change)="setScheduleDemoFormStatus(false)">
            <input type="radio" [checked]="!editScheduleDemoRecordForm" name="editScheduleDemoFormChoice">
            <span class="tab_checkmark left">View</span>
          </label>
          <label class="tab_container" (change)="setScheduleDemoFormStatus(true)">
            <input type="radio" [checked]="editScheduleDemoRecordForm" name="editScheduleDemoFormChoice">
            <span class="tab_checkmark right">Edit</span>
          </label>
        </div>
      </div>
      <table class="form-container-generic-table">
        <tr>
          <td class="td-label"><label>Demo Date</label></td>
          <td><input class="input_field"
                      id="demoDate" 
                      type="date" 
                      value="{{scheduleDemoDateModal}}"
                      [disabled]="!editScheduleDemoRecordForm"
                      (change)="updateScheduleDemoProperty('demoDateMillis', $event, 'millis')"></td>
        </tr>
        <tr>
          <td class="td-label"><label>Demo Time</label></td>
          <td><input class="input_field"
                      id="demoTime"
                      type="time" 
                      value="{{scheduleDemoTimeModal}}"
                      [disabled]="!editScheduleDemoRecordForm"
                      (change)="updateScheduleDemoProperty('demoTimeMillis', $event, 'millis')"></td>
        </tr>
      </table>
      <table class="form-container-generic-table">
        <tr>
          <td align="center">
            <button *ngIf="showScheduleDemoButton" type="submit"
                  class="ok-button form-container-update-button"
                  (click)="scheduleDemo()">
              Schedule Demo
            </button>
          </td>
        </tr>
      </table>    
      <div class="form-mask" id="schedule-demo-form-mask-loader" [hidden]="scheduleDemoFormMaskLoaderHidden">
        <div class="form-loader"></div>
      </div>
    </form>
  </div>
</div>
