<!-- Toolbar -->
<div class="toolbar">
  <a href="{{staticPageURl}}" target="_blank"><img src="{{logoURL}}"></a>
  <div class="server-info">
    <table>
      <tr>
        <th>Server Name</th>
        <td>Local</td>
      </tr>
      <tr>
        <th>Database Name</th>
        <td>Local DB</td>
      </tr>      
    </table>
  </div>
  <div class="toolbar_content">
    <span>{{title}}</span>
    <i *ngIf="accessOptions && accessOptions.emailformaccess" class="fas fa-envelope" (click)="showEmailDialog()"></i>
    <div class="dropdown">
      <i class="fas fa-user-alt"></i>
      <div class="dropdown-content" style="left: -100px">
        <div *ngFor="let element of userMenu">
            <button *ngIf="element.functioncall" (click)="functionCallMenuItem(element.name)">{{element.name}}</button>
            <button *ngIf="!element.functioncall" routerLink="{{element.url}}">{{element.name}}</button>
        </div>
      </div>
    </div>

    <div class="dropdown">
      <i class="fas fa-cog"></i>
      <div class="dropdown-content" style="left: -100px">
        <div *ngFor="let element of settingMenu">
          <button *ngIf="element.functioncall" (click)="functionCallMenuItem(element.name)">{{element.name}}</button>
          <button *ngIf="!element.functioncall" routerLink="{{element.url}}">{{element.name}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Main Content-->
<div class="main_content" style="padding: 0; display: flex; flex-direction: column">
  <div class="menu-container">
    <div class="menu-container-2">
      <div class="dropdown" *ngFor="let element of menu; let i = index">
        <button class="dropbtn" *ngIf="!element.submenu" routerLink="{{element.url}}">{{element.name}}</button>
        <button class="dropbtn" *ngIf="element.submenu">{{element.name}}</button>
        <div class="dropdown-content">
          <button *ngFor="let sub_element of element.subMenuItems" routerLink="{{sub_element.url}}">{{sub_element.name}}</button>
        </div>
      </div>
    </div>
  </div>

  <!--Bread Crumb-->
  <app-bread-crumb></app-bread-crumb>

  <div id="lcp-view-port" class="view-port">
    <router-outlet></router-outlet>
  </div>
  <!--Below iFrame and Form is required for Grid Download functionality-->
  <iframe id="ifrDownload" name="ifrDownload" width="0" height="0" class="noscreen"></iframe>
  <form id="gridDownloadForm" target="ifrDownload" method="post" class="noscreen">
    <input type="text" value="" size="10" name="start" id="gridDownload-start" />
    <input type="text" value="" size="10" name="limit" id="gridDownload-limit" />
    <input type="text" value="" size="10" name="otherParams" id="gridDownload-otherParams" />
    <input type="text" value="" size="10" name="sorters" id="gridDownload-sorters" />
    <input type="text" value="" size="10" name="filters" id="gridDownload-filters" />
  </form>
</div>

<!--Email Dialog-->
<app-email [emailData]="emailData" style="min-width: 70%; margin: auto"></app-email>

<!--Confirmation Dialog-->
<app-confirmation-dialog></app-confirmation-dialog>

<!--Alert Dialog-->
<app-alert-dialog></app-alert-dialog>

<!--Prompt Dialog-->
<app-prompt-dialog></app-prompt-dialog>
