<div>
  <div class="form-container-div">
    <form *ngIf="showRecordUpdateForm" class="form-container" style="max-width: 80%">
      <div class="form-container-title">
        <span>Record Update Form</span>
      </div>
      <div class="form-container-toggle-button">
        <div *ngIf="showRecordUpdateEditControlSection">
          <label class="tab_container" (change)="setRecordUpdateFormEditStatus(false)">
            <input type="radio" [checked]="!editRecordForm" name="editFormChoice">
            <span class="tab_checkmark left">View</span>
          </label>
          <label class="tab_container" (change)="setRecordUpdateFormEditStatus(true)">
            <input type="radio" [checked]="editRecordForm" name="editFormChoice">
            <span class="tab_checkmark right">Edit</span>
          </label>
        </div>
      </div>
      <table class="form-container-generic-table">
        <tr style="background-color: beige;" *ngIf="!showCustomerDetails">
          <td class="td-label">
              <i
                  id="employee-actions-details-expander"
                  class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                  (click)="showCustomerDetails = true"></i>
          </td>
          <td>
            Show Customer Details
          </td>
        </tr>
        <tr style="background-color: beige;" *ngIf="showCustomerDetails">
          <td class="td-label">
              <i
                  id="employee-actions-details-collapser"
                  class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                  (click)="showCustomerDetails = false"></i>
          </td>
          <td>
            Hide Customer Details
          </td>
        </tr>
        <tr style="background-color: beige;" *ngIf="showCustomerDetails">
          <td class="td-label"><label>Customer Serial Id</label></td>
          <td><label class="data link_opener" (click)="openCustomerRecord()">{{demoRecord.customerSerialId}}</label></td>
        </tr>
        <tr style="background-color: beige;" *ngIf="showCustomerDetails">
          <td class="td-label"><label>Customer Name</label></td>
          <td><label class="data">{{demoRecord.customerName}}</label></td>        
        </tr>
        <tr style="background-color: beige;" *ngIf="showCustomerDetails">
          <td class="td-label"><label>Customer Email</label></td>
          <td><label class="data">{{demoRecord.customerEmail}}</label></td>        
        </tr>
        <tr style="background-color: beige;" *ngIf="showCustomerDetails">
          <td class="td-label"><label>Customer Contact Number</label></td>
          <td><label class="data">{{demoRecord.customerContactNumber}}</label></td>        
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="!showEnquiryDetails">
          <td class="td-label">
              <i
                  id="employee-actions-details-expander"
                  class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                  (click)="showEnquiryDetails = true"></i>
          </td>
          <td>
            Show Enquiry Details
          </td>
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showEnquiryDetails">
          <td class="td-label">
              <i
                  id="employee-actions-details-collapser"
                  class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                  (click)="showEnquiryDetails = false"></i>
          </td>
          <td>
            Hide Enquiry Details
          </td>
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showEnquiryDetails">
          <td class="td-label"><label>Enquiry Serial Id</label></td>
          <td><label class="data link_opener" (click)="openEnquiryRecord()">{{demoRecord.enquirySerialId}}</label></td>        
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showEnquiryDetails">
          <td class="td-label"><label>Enquiry Subject</label></td>
          <td><label class="data">{{enquirySubjectLookupRendererFromValue}}</label></td>        
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showEnquiryDetails">
          <td class="td-label"><label>Enquiry Grade</label></td>
          <td><label class="data">{{enquiryGradeLookupRendererFromValue}}</label></td>        
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showEnquiryDetails">
          <td class="td-label"><label>Enquiry Preferred Teaching Type</label></td>
          <td><label class="data">{{enquiryPreferredTeachingTypeLookupRendererFromValue}}</label></td>                    
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showEnquiryDetails">
          <td class="td-label"><label>Enquiry Location</label></td>
          <td><label class="data">{{enquiryLocationLookupRendererFromValue}}</label></td>
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showEnquiryDetails">
          <td class="td-label"><label>Enquiry Address Details</label></td>
          <td>
            <div class="form-remakrs">{{demoRecord.enquiryAddressDetails}}</div>
          </td>
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showEnquiryDetails">
          <td class="td-label"><label>Enquiry Additional Details</label></td>
          <td>
              <div class="form-remakrs">{{demoRecord.enquiryAdditionalDetails}}</div>
          </td>
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showEnquiryDetails">
          <td class="td-label"><label>Enquiry Quoted Client Rate</label></td>
          <td><label class="data">{{demoRecord.enquiryQuotedClientRate}}</label></td>            
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showEnquiryDetails">
          <td class="td-label"><label>Enquiry Negotiated Rate With Client</label></td>
          <td><label class="data">{{demoRecord.enquiryNegotiatedRateWithClient}}</label></td></tr>
        <tr style="background-color: aliceblue;" *ngIf="showEnquiryDetails">
          <td class="td-label"><label>Enquiry Client Negotiation Remarks</label></td>
          <td>
            <div class="form-remakrs">{{demoRecord.enquiryClientNegotiationRemarks}}</div>
          </td>
        </tr>
        <tr style="background-color: beige;" *ngIf="!showTutorDetails">
          <td class="td-label">
              <i
                  id="employee-actions-details-expander"
                  class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                  (click)="showTutorDetails = true"></i>
          </td>
          <td>
            Show Tutor Details
          </td>
        </tr>
        <tr style="background-color: beige;" *ngIf="showTutorDetails">
          <td class="td-label">
              <i
                  id="employee-actions-details-collapser"
                  class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                  (click)="showTutorDetails = false"></i>
          </td>
          <td>
            Hide Tutor Details
          </td>
        </tr>
        <tr style="background-color: beige;" *ngIf="showTutorDetails">
          <td class="td-label"><label>Tutor Serial Id</label></td>
          <td><label class="data link_opener" (click)="openTutorRecord()">{{demoRecord.tutorSerialId}}</label></td>        
        </tr>
        <tr style="background-color: beige;" *ngIf="showTutorDetails">
          <td class="td-label"><label>Tutor Name</label></td>
          <td><label class="data">{{demoRecord.tutorName}}</label></td>        
        </tr>
        <tr style="background-color: beige;" *ngIf="showTutorDetails">
          <td class="td-label"><label>Tutor Email</label></td>
          <td><label class="data">{{demoRecord.tutorEmail}}</label></td>        
        </tr>
        <tr style="background-color: beige;" *ngIf="showTutorDetails">
          <td class="td-label"><label>Tutor Contact Number</label></td>
          <td><label class="data">{{demoRecord.tutorContactNumber}}</label></td>        
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="!showTutorMapperDetails">
          <td class="td-label">
              <i
                  id="employee-actions-details-expander"
                  class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                  (click)="showTutorMapperDetails = true"></i>
          </td>
          <td>
            Show Tutor Mapper Details
          </td>
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showTutorMapperDetails">
          <td class="td-label">
              <i
                  id="employee-actions-details-collapser"
                  class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                  (click)="showTutorMapperDetails = false"></i>
          </td>
          <td>
            Hide Tutor Mapper Details
          </td>
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showTutorMapperDetails">
          <td class="td-label"><label>Tutor Mapper Serial Id</label></td>
          <td><label class="data link_opener" (click)="openTutorMapperRecord()">{{demoRecord.tutorMapperSerialId}}</label></td>        
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showTutorMapperDetails">
          <td class="td-label"><label>Mapping Quoted Tutor Rate</label></td>
          <td><label class="data">{{demoRecord.tutorMapperQuotedTutorRate}}</label></td>        
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showTutorMapperDetails">
          <td class="td-label"><label>Mapping Negotiated Rate With Tutor</label></td>
          <td><label class="data">{{demoRecord.tutorMapperNegotiatedRateWithTutor}}</label></td>        
        </tr>
        <tr style="background-color: aliceblue;" *ngIf="showTutorMapperDetails">
          <td class="td-label"><label>Mapping Tutor Negotiation Remarks</label></td>
          <td>
            <div class="form-remakrs">{{demoRecord.tutorMapperTutorNegotiationRemarks}}</div>
          </td>       
        </tr>
        <tr>
          <td class="td-label"><label></label></td>
          <td><label class="data"></label></td>        
        </tr>
        <tr>
          <td class="td-label"><label>Demo Serial Id</label></td>
          <td><label class="data">{{demoRecord.demoSerialId}}</label></td>        
        </tr>
        <tr>
          <td class="td-label"><label>Customer Name</label></td>
          <td><label class="data">{{demoRecord.customerName}}</label></td>        
        </tr>
        <tr>
          <td class="td-label"><label>Tutor Name</label></td>
          <td><label class="data">{{demoRecord.tutorName}}</label></td>        
        </tr>
        <tr>
          <td class="td-label"><label>Demo Date And Time</label></td>
          <td><label class="data">{{demoScheduledDateAndTimeDisplay}}</label></td>        
        </tr>
        <tr>
          <td class="td-label"><label>Is Demo Occurred</label></td>
          <td>
            <ng-multiselect-dropdown [placeholder]="'Is Demo Occurred'" [data]="yesNoFilterOptions"
                                     [(ngModel)] = "selectedDemoOccurredOption" name="selectedDemoOccurred"
                                     [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                     (onSelect)="updateDemoProperty('demoOccurred', $event, 'list')"
                                     (onDeSelect)="updateDemoProperty('demoOccurred', $event, 'list', true)">
            </ng-multiselect-dropdown>
          </td>      
        </tr>
        <tr>
          <td class="td-label"><label>Demo Status</label></td>
          <td><label class="data">{{demoStatusLookupRendererFromValue}}</label></td>
        </tr>
        <tr>
          <td class="td-label"><label>Is Client Satisfied From Tutor</label></td>
          <td>
            <ng-multiselect-dropdown [placeholder]="'Is Client Satisfied From Tutor'" [data]="yesNoFilterOptions"
                                     [(ngModel)] = "selectedClientSatisfiedFromTutorOption" name="selectedClientSatisfiedFromTutor"
                                     [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                     (onSelect)="updateDemoProperty('clientSatisfiedFromTutor', $event, 'list')"
                                     (onDeSelect)="updateDemoProperty('clientSatisfiedFromTutor', $event, 'list', true)">
            </ng-multiselect-dropdown>
          </td>        
        </tr>
        <tr>
          <td class="td-label"><label>Client Remarks</label></td>
          <td>
            <textarea 
                    class="textarea_field"
                    id="clientRemarks"
                    [disabled]="!editRecordForm" 
                    (change)="updateDemoProperty('clientRemarks', $event, 'string')"
                    >{{demoRecord.clientRemarks}}</textarea>
          </td>        
        </tr>
        <tr>
          <td class="td-label"><label>Is Tutor Satisfied With Client</label></td>
          <td>
            <ng-multiselect-dropdown [placeholder]="'Is Tutor Satisfied With Client'" [data]="yesNoFilterOptions"
                                     [(ngModel)] = "selectedTutorSatisfiedWithClientOption" name="selectedTutorSatisfiedWithClient"
                                     [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                     (onSelect)="updateDemoProperty('tutorSatisfiedWithClient', $event, 'list')"
                                     (onDeSelect)="updateDemoProperty('tutorSatisfiedWithClient', $event, 'list', true)">
            </ng-multiselect-dropdown>
          </td>       
        </tr>
        <tr>
          <td class="td-label"><label>Tutor Remarks</label></td>
          <td>
            <textarea 
                    class="textarea_field"
                    id="tutorRemarks"
                    [disabled]="!editRecordForm" 
                    (change)="updateDemoProperty('tutorRemarks', $event, 'string')"
                    >{{demoRecord.tutorRemarks}}</textarea>
          </td>
        </tr>
        <tr>
          <td class="td-label"><label>Is Admin Satisfied From Tutor</label></td>
          <td>
            <ng-multiselect-dropdown [placeholder]="'Is Admin Satisfied From Tutor'" [data]="yesNoFilterOptions"
                                     [(ngModel)] = "selectedAdminSatisfiedFromTutorOption" name="selectedAdminSatisfiedFromTutor"
                                     [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                     (onSelect)="updateDemoProperty('adminSatisfiedFromTutor', $event, 'list')"
                                     (onDeSelect)="updateDemoProperty('adminSatisfiedFromTutor', $event, 'list', true)">
            </ng-multiselect-dropdown>
          </td>       
        </tr>
        <tr>
          <td class="td-label"><label>Is Admin Satisfied With Client</label></td>
          <td>
            <ng-multiselect-dropdown [placeholder]="'Is Admin Satisfied With Client'" [data]="yesNoFilterOptions"
                                     [(ngModel)] = "selectedAdminSatisfiedWithClientOption" name="selectedAdminSatisfiedWithClient"
                                     [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                     (onSelect)="updateDemoProperty('adminSatisfiedWithClient', $event, 'list')"
                                     (onDeSelect)="updateDemoProperty('adminSatisfiedWithClient', $event, 'list', true)">
            </ng-multiselect-dropdown>
          </td>        
        </tr>
        <tr>
          <td class="td-label"><label>Need Price Negotiation With Client</label></td>
          <td>
            <ng-multiselect-dropdown [placeholder]="'Need Price Negotiation With Client'" [data]="yesNoFilterOptions"
                                     [(ngModel)] = "selectedNeedPriceNegotiationWithClientOption" name="selectedNeedPriceNegotiationWithClient"
                                     [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                     (onSelect)="updateDemoProperty('needPriceNegotiationWithClient', $event, 'list')"
                                     (onDeSelect)="updateDemoProperty('needPriceNegotiationWithClient', $event, 'list', true)">
            </ng-multiselect-dropdown>
          </td>        
        </tr>
        <tr>
          <td class="td-label"><label>Negotiated Override Rate With Client</label></td>
          <td>
              <input class="input_field" type="number" value="{{demoRecord.negotiatedOverrideRateWithClient}}"
                      [disabled]="!editRecordForm"
                      (change)="updateDemoProperty('negotiatedOverrideRateWithClient', $event, 'number')">
          </td>        
        </tr>
        <tr>
          <td class="td-label"><label>Client Negotiation Remarks</label></td>
          <td>
            <textarea 
                    class="textarea_field"
                    id="clientNegotiationRemarks"
                    [disabled]="!editRecordForm" 
                    (change)="updateDemoProperty('clientNegotiationRemarks', $event, 'string')"
                    >{{demoRecord.clientNegotiationRemarks}}</textarea>
          </td>        
        </tr>
        <tr>
          <td class="td-label"><label>Need Price Negotiation With Tutor</label></td>
          <td>
            <ng-multiselect-dropdown [placeholder]="'Need Price Negotiation With Tutor'" [data]="yesNoFilterOptions"
                                     [(ngModel)] = "selectedNeedPriceNegotiationWithTutorOption" name="selectedNeedPriceNegotiationWithTutor"
                                     [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                     (onSelect)="updateDemoProperty('needPriceNegotiationWithTutor', $event, 'list')"
                                     (onDeSelect)="updateDemoProperty('needPriceNegotiationWithTutor', $event, 'list', true)">
            </ng-multiselect-dropdown>
          </td>       
        </tr>
        <tr>
          <td class="td-label"><label>Negotiated Override Rate With Tutor</label></td>
          <td>
              <input class="input_field" type="number" value="{{demoRecord.negotiatedOverrideRateWithTutor}}"
                      [disabled]="!editRecordForm"
                      (change)="updateDemoProperty('negotiatedOverrideRateWithTutor', $event, 'number')">
          </td>        
        </tr>
        <tr>
          <td class="td-label"><label>Tutor Negotiation Remarks</label></td>
          <td>
            <textarea 
                    class="textarea_field"
                    id="tutorNegotiationRemarks"
                    [disabled]="!editRecordForm" 
                    (change)="updateDemoProperty('tutorNegotiationRemarks', $event, 'string')"
                    >{{demoRecord.tutorNegotiationRemarks}}</textarea>
          </td>       
        </tr>
        <tr>
          <td class="td-label"><label>Admin Action Date</label></td>
          <td><label class="data">{{adminActionDateAndTimeDisplay}}</label></td>        
        </tr>
        <tr>
          <td class="td-label"><label>Who Acted</label></td>
          <td><label class="data">{{demoRecord.whoActedName}}</label></td>        
        </tr>
        <tr>
          <td class="td-label"><label>Admin Remarks</label></td>
          <td>
            <textarea 
                    class="textarea_field"
                    id="adminRemarks"
                    [disabled]="!editRecordForm" 
                    (change)="updateDemoProperty('adminRemarks', $event, 'string')"
                    >{{demoRecord.adminRemarks}}</textarea>
          </td>       
        </tr>
        <tr>
          <td class="td-label"><label>Admin Finalizing Remarks</label></td>
          <td><div class="form-remakrs">{{demoRecord.adminFinalizingRemarks}}</div></td>
        </tr>
        <tr *ngIf="demoRecord.isRescheduled">
          <td class="td-label"><label>Re-scheduled From Demo</label></td>
          <td><label class="data link_opener" (click)="openReSchdeuledFromDemoRecord()">{{demoRecord.rescheduledFromDemoSerialId}}</label></td>        
        </tr>
        <tr *ngIf="demoRecord.isRescheduled">
          <td class="td-label"><label>Re-Schedule Count</label></td>
          <td><label class="data">{{demoRecord.reScheduleCount}}</label></td>        
        </tr>
        <tr *ngIf="demoRecord.isRescheduled">
          <td class="td-label"><label>Re-Scheduling Remarks</label></td>
          <td><div class="form-remakrs">{{demoRecord.reschedulingRemarks}}</div></td>        
        </tr>   
        <tr>
          <td class="td-label"><label></label></td>
          <td><label class="data"></label></td>        
        </tr>     
        <tr style="background-color: beige;" *ngIf="!showEmployeeActionButtons && !takeActionDisabled">
          <td class="td-label">
              <i
                  id="employee-actions-details-expander"
                  class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                  (click)="showEmployeeActionButtons = true"></i>
          </td>
          <td>
            Show Action Buttons
          </td>
        </tr>
        <tr style="background-color: beige;" *ngIf="showEmployeeActionButtons && !takeActionDisabled">
          <td class="td-label">
              <i
                id="employee-actions-details-collapser"
                class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                (click)="showEmployeeActionButtons = false"></i>
          </td>
          <td>
              Hide Action Buttons
          </td>
        </tr>  
        <tr style="background-color: beige;" *ngIf="showEmployeeActionButtons && !takeActionDisabled">
          <td></td>
          <td>          
            <table width="100%">
                <tr>
                  <td>
                    <button type="submit"
                          *ngIf="canSuccessFailDemo"
                          class="btnSubmit"
                          (click)="takeActionOnDemoRecord('Enter comments for Successfull Demo', 'Please provide your comments.', 'demoSuccess', false)">            
                          Demo Successful
                    </button>
                  </td>
                  <td>
                    <button type="submit"
                          *ngIf="canSuccessFailDemo"
                          class="btnReject"
                          (click)="takeActionOnDemoRecord('Enter comments for Failed Demo', 'Please provide your comments for failing Demo.', 'demoFailed', true)">            
                          Demo Failed
                    </button>
                  </td>
                  <td>
                    <button type="submit"
                            *ngIf="canCancelDemo"
                            class="btnReject"
                            (click)="takeActionOnDemoRecord('Enter comments for Cancelling Demo', 'Please provide your comments for Cancelling Demo.', 'cancel', true)">            
                            Cancel Demo
                    </button>
                  </td> 
                </tr>              
            </table>
          </td>
        </tr>
      </table>
      <table class="form-container-generic-table">
        <tr>
          <td align="right">
            <button *ngIf="showRecordUpdateButton" type="submit"
                  class="ok-button form-container-update-button"
                  (click)="updateDemoRecord()">
                  Update Demo
            </button>
          </td>
          <td>
            <button *ngIf="showRecordUpdateButton" type="submit"
                    class="cancel-button form-container-update-button"
                    (click)="resetDemoRecord()">
                    Reset Demo
            </button>
          </td>
        </tr>
      </table>
      
      <div class="form-mask" id="demo-form-mask-loader" [hidden]="demoFormMaskLoaderHidden">
        <div class="form-loader"></div>
      </div>
    </form>
    <form *ngIf="showRescheduleForm" class="form-container" style="max-width: 80%">
      <div class="form-container-title">
        <span>Re-Schedule Demo Form</span>
      </div>
      <div class="form-container-toggle-button">
        <div *ngIf="showRescheduleForm">
          <label class="tab_container" (change)="setRescheduleFormStatus(false)">
            <input type="radio" [checked]="!editReScheduleRecordForm" name="editReScheduleFormChoice">
            <span class="tab_checkmark left">View</span>
          </label>
          <label class="tab_container" (change)="setRescheduleFormStatus(true)">
            <input type="radio" [checked]="editReScheduleRecordForm" name="editReScheduleFormChoice">
            <span class="tab_checkmark right">Edit</span>
          </label>
        </div>
      </div>
      <table class="form-container-generic-table">
        <tr>
          <td class="td-label"><label>New Demo Date</label></td>
          <td><input class="input_field"
                      id="newDemoDate" 
                      type="date" 
                      value="{{reScheduleNewDateModal}}"
                      [disabled]="!editReScheduleRecordForm"
                      (change)="updateReScheduleProperty('demoDateMillis', $event, 'millis')"></td>
        </tr>
        <tr>
          <td class="td-label"><label>New Demo Time</label></td>
          <td><input class="input_field"
                      id="newDemoTime"
                      type="time" 
                      value="{{reScheduleNewTimeModal}}"
                      [disabled]="!editReScheduleRecordForm"
                      (change)="updateReScheduleProperty('demoTimeMillis', $event, 'millis')"></td>
        </tr>
        <tr>
          <td class="td-label"><label>Re-Scheduling Remarks</label></td>
          <td>
            <textarea 
                    class="textarea_field"
                    id="reschedulingRemarks"
                    [disabled]="!editReScheduleRecordForm" 
                    (change)="updateReScheduleProperty('reschedulingRemarks', $event, 'string')"
                    ></textarea>
          </td>        
        </tr>
      </table>
      <table class="form-container-generic-table">
        <tr>
          <td align="center">
            <button *ngIf="showRescheduleButton" type="submit"
                  class="ok-button form-container-update-button"
                  (click)="reScheduleDemo()">
              Re-Schedule Demo
            </button>
          </td>
        </tr>
      </table> 
      <div class="form-mask" id="demo-reschedule-form-mask-loader" [hidden]="demoRescheduleFormMaskLoaderHidden">
        <div class="form-loader"></div>
      </div>
    </form>
  </div>
</div>
