<div
  style="display: flex; flex-direction: column; align-items: center; align-content: center; justify-content: center; padding: 30px">
  <form id="reset-password-form" class="form-container">
    <h1>Reset Password</h1>

    <span class="error" *ngIf="errorAjaxResponse">{{errorAjaxResponse}}</span>
    <span class="success" *ngIf="successMessage">{{successMessage}}</span>
    <input name="user-id" placeholder="Username" required type="text" [(ngModel)]="username">
    <span class="validation-error" *ngIf="errorUsername">{{errorUsername}}</span>
    <select class="input_field" name="user-type" required [(ngModel)]="userType">
      <option value="Blank">User Type</option>
      <option value="admin">Employee</option>
      <option value="tutor">Tutor</option>
      <option value="customer">Parent &amp; Students</option>
    </select>
    <span class="validation-error" *ngIf="errorUserType">{{errorUserType}}</span>
    <button type="submit" class="button-primary" style="display: flex; align-self: flex-end;" (click)="resetPassword()">
      Reset
    </button>
    <span class="button-white-link" routerLink="/nlp/login" style="align-self: flex-start">Back to Login</span>
  </form>
</div>
