<div
  style="display: flex; flex-direction: column; align-items: center; align-content: center; justify-content: center; padding: 30px">
  <form id="reset-password-form" class="form-container">
    <h1>Reset Password</h1>

    <span class="error" *ngIf="errorResponse">{{errorResponse}}</span>
    <span class="success" *ngIf="successMessage">{{successMessage}}</span>
    <input name="user-id" placeholder="Username" required type="text" [(ngModel)]="username">
    <span class="validation-error" *ngIf="errorUsername">{{errorUsername}}</span>
    <select class="input_field" name="user-type" required [(ngModel)]="userType">
      <option value="">User Type</option>
      <option value="Employee">Employee</option>
      <option value="Tutor">Tutor</option>
      <option value="Customer">Parent &amp; Students</option>
    </select>
    <span class="validation-error" *ngIf="errorUserType">{{errorUserType}}</span>
    <button type="submit" class="button-primary" style="display: flex; align-self: flex-end;" (click)="resetPassword()">
      Reset
    </button>
    <span class="button-white-link" routerLink="/public/login" style="align-self: flex-start">Back to Login</span>
    <div class="form-mask" id="reset-password-form-mask-loader" [hidden]="resetPasswordMaskLoaderHidden">
      <div class="form-loader"></div>
    </div>
  </form>
</div>
