<div>
  <div id="tutor-list-page" *ngIf="!showTutorData">
    <app-grid #registeredTutorGrid id="registered-tutor-grid" [gridMetaData]="registeredTutorGridMetaData"></app-grid>
  </div>
  <div id="tutor-data-page" *ngIf="showTutorData">
    <button
      id="back-to-tutor-listing-button"
      class="ok-button" (click)="showTutorData = false; selectedTutorRecord = null; registeredTutorGridObject.refreshGridData();">
      Back To Listing
    </button>
    <app-registered-tutor-data [tutorRecord]="selectedTutorRecord" [tutorDataAccess]="tutorDataAccess"></app-registered-tutor-data>
  </div>
</div>
