<div>
  <div id="tutor-list-page" *ngIf="!showTutorData">
    <app-grid #registeredTutorGrid id="registered-tutor-grid" [gridMetaData]="registeredTutorGridMetaData"></app-grid>
  </div>
  <div id="tutor-data-page" *ngIf="showTutorData">
    <button
      id="back-to-tutor-listing-button"
      class="back-to-listing-button ok-button" (click)="toggleVisibilityRegisterTutorGrid()">
      <i class="fas fa-chevron-left" style="padding-right: 15px;"></i>Back To Listing
    </button>
    <app-registered-tutor-data 
          [tutorSerialId]="selectedTutorSerialId" 
          [registeredTutorDataAccess]="registeredTutorDataAccess">
    </app-registered-tutor-data>
  </div>
</div>
