<div>
  <app-grid *ngIf="enquiryDataAccess.enquiryDataModificationAccess"
            #currentCustomerAllPendingEnquiryGrid id="current-customer-all-pending-enquiries-grid" 
            [gridMetaData]="currentCustomerAllPendingEnquiryGridMetaData">
  </app-grid>
  <div *ngIf="showAlertMessage" class="form-container-div">
    <span>{{alertMessage}}</span>
  </div>
  <div *ngIf="showRecordUpdateForm" class="form-container-div">
    <form *ngIf="showRecordUpdateForm" class="form-container" style="max-width: 80%">
      <div class="form-container-title">
        <span>Record Update Form</span>
      </div>
      <div class="form-container-toggle-button">
        <div *ngIf="showRecordUpdateEditControlSection">
          <label class="tab_container" (change)="setRecordUpdateFormEditStatus(false)">
            <input type="radio" [checked]="!editRecordForm" name="editFormChoice">
            <span class="tab_checkmark left">View</span>
          </label>
          <label class="tab_container" (change)="setRecordUpdateFormEditStatus(true)">
            <input type="radio" [checked]="editRecordForm" name="editFormChoice">
            <span class="tab_checkmark right">Edit</span>
          </label>
        </div>
      </div>
      <table class="form-container-generic-table">
          <tr style="background-color: aliceblue;" *ngIf="!showCustomerDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showCustomerDetails = true"></i>
            </td>
            <td>
              Show Customer Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showCustomerDetails = false"></i>
            </td>
            <td>
              Hide Customer Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Serial Id</label></td>
            <td><label class="data link_opener" (click)="openCustomerRecord()">{{enquiryRecord.customerSerialId}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Name</label></td>
            <td><label class="data">{{enquiryRecord.customerName}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Email</label></td>
            <td><label class="data">{{enquiryRecord.customerEmail}}</label></td>              
          </tr> 
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">            
            <td class="td-label"><label>Customer Contact Number</label></td>
            <td><label class="data">{{enquiryRecord.customerContactNumber}}</label></td>
          </tr>
          <tr>
            <td class="td-label"><label></label></td>
            <td><label class="data"></label></td>
          </tr>
          <tr>
            <td class="td-label"><label>Enquiry Serial Id</label></td>
            <td><label class="data">{{enquiryRecord.enquirySerialId}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Subject</label></td>
            <td>
              <ng-multiselect-dropdown [placeholder]="'Subject'" [data]="subjectsFilterOptions"
                                        [(ngModel)]="selectedSubjectOption" name="subject"
                                        [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                        (onSelect)="updateEnquiryProperty('subject', $event, 'list')"
                                        (onDeSelect)="updateEnquiryProperty('subject', $event, 'list', true)">
              </ng-multiselect-dropdown>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label>Grade</label></td>
            <td>
              <ng-multiselect-dropdown [placeholder]="'Grade'" [data]="studentGradesFilterOptions"
                                        [(ngModel)]="selectedStudentGradeOption" name="grade"
                                        [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                        (onSelect)="updateEnquiryProperty('grade', $event, 'list')"
                                        (onDeSelect)="updateEnquiryProperty('grade', $event, 'list', true)">
              </ng-multiselect-dropdown>
            </td>        
          </tr>
          <tr>
            <td class="td-label"><label>Match Status</label></td>
            <td><label class="data">{{matchStatusDisplay}}</label></td>        
          </tr>          
          <tr>
            <td class="td-label"><label>Quoted Client Rate</label></td>
            <td><input  class="input_field" 
                        type="number" 
                        id="quotedClientRate"
                        value="{{enquiryRecord.quotedClientRate}}"
                        [disabled]="!editRecordForm"
                        (change)="updateEnquiryProperty('quotedClientRate', $event, 'number')"></td>
          </tr>
          <tr>
            <td class="td-label"><label>Negotiated Rate With Client</label></td>
            <td><input  class="input_field" 
                        type="number" 
                        id="negotiatedRateWithClient"
                        value="{{enquiryRecord.negotiatedRateWithClient}}"
                        [disabled]="!editRecordForm"
                        (change)="updateEnquiryProperty('negotiatedRateWithClient', $event, 'number')"></td>
          </tr>
          <tr>
            <td class="td-label"><label>Client Negotiation Remarks</label></td>
            <td>
                <textarea 
                        class="textarea_field"
                        id="clientNegotiationRemarks"
                        [disabled]="!editRecordForm" 
                        (change)="updateEnquiryProperty('clientNegotiationRemarks', $event, 'string')"
                >{{enquiryRecord.clientNegotiationRemarks}}</textarea>
            </td>
          </tr>          
          <tr>
            <td class="td-label"><label>Additional Details</label></td>
            <td>
                <textarea 
                        class="textarea_field"
                        id="additionalDetails"
                        [disabled]="!editRecordForm" 
                        (change)="updateEnquiryProperty('additionalDetails', $event, 'string')"
                >{{enquiryRecord.additionalDetails}}</textarea>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label>Location</label></td>
            <td>
              <ng-multiselect-dropdown [placeholder]="'Location'" [data]="locationsFilterOptions"
                                        [(ngModel)]="selectedLocationOption" name="location"
                                        [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                        (onSelect)="updateEnquiryProperty('location', $event, 'list')"
                                        (onDeSelect)="updateEnquiryProperty('location', $event, 'list', true)">
              </ng-multiselect-dropdown>
            </td>        
          </tr>
          <tr>
            <td class="td-label"><label>Address Details</label></td>
            <td>
                <textarea 
                        class="textarea_field"
                        id="addressDetails"
                        [disabled]="!editRecordForm" 
                        (change)="updateEnquiryProperty('addressDetails', $event, 'string')"
                >{{enquiryRecord.addressDetails}}</textarea>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label>Preferred Teaching Type</label></td>
            <td>
              <ng-multiselect-dropdown [placeholder]="'Preferred Teaching Type'" [data]="preferredTeachingTypeFilterOptions"
                                        [(ngModel)]="selectedTeachingTypeOptions" name="preferredTeachingType"
                                        [settings]="multiSelectOptions" [disabled]="!editRecordForm"
                                        (onSelect)="updateEnquiryProperty('preferredTeachingType', $event, 'multilist')"
                                        (onDeSelect)="updateEnquiryProperty('preferredTeachingType', $event, 'multilist', true)"
                                        (onDeSelectAll)="updateEnquiryProperty('preferredTeachingType', $event, 'multilist', true, true)"
                                        (onSelectAll)="updateEnquiryProperty('preferredTeachingType', $event, 'multilist', false, true)">
              </ng-multiselect-dropdown>
            </td>        
          </tr>
          <tr>
            <td class="td-label"><label>Is Mapped</label></td>
            <td><label class="data">{{isMappedDisplay}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Tutor Serial Id</label></td>
            <td><label class="data link_opener" (click)="openTutorRecord()">{{enquiryRecord.tutorSerialId}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Tutor Name</label></td>
            <td><label class="data">{{enquiryRecord.tutorName}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Tutor Email</label></td>
            <td><label class="data">{{enquiryRecord.tutorEmail}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Tutor Contact Number</label></td>
            <td><label class="data">{{enquiryRecord.tutorContactNumber}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Last Action Date</label></td>
            <td><label class="data">{{recordLastUpdatedDateAndTimeDisplay}}</label></td>
          </tr>
          <tr>
            <td class="td-label"><label>Who Acted</label></td>
            <td><label class="data">{{enquiryRecord.whoActedName}}</label></td>
          </tr>
          <tr>
            <td class="td-label"><label>Action Remarks</label></td>
            <td>
              <div class="form-remakrs">{{enquiryRecord.adminRemarks}}</div>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label></label></td>
            <td><label class="data"></label></td>
          </tr>
          <tr style="background-color: beige;" *ngIf="!showEmployeeActionButtons && !takeActionDisabled">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEmployeeActionButtons = true"></i>
            </td>
            <td>
              Show Action Buttons
            </td>
          </tr> 
          <tr style="background-color: beige;" *ngIf="showEmployeeActionButtons && !takeActionDisabled">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEmployeeActionButtons = false"></i>
            </td>
            <td>
              Hide Action Buttons
            </td>
          </tr>  
          <tr style="background-color: beige;" *ngIf="showEmployeeActionButtons && !takeActionDisabled">
            <td></td>
            <td>          
              <table width="100%">
                  <tr>
                    <td>
                      <button type="submit"
                              *ngIf="canChangeToPending"
                              class="btnReset"
                              (click)="takeActionOnEnquiryRecord('Enter comments for action', 'Please provide your comments for taking the action.', 'pending', true)">            
                              Pending
                      </button>
                    </td>
                    <td>
                      <button type="submit"
                              *ngIf="canChangeToBeMapped"
                              class="btnSubmit"
                              (click)="takeActionOnEnquiryRecord('Enter comments for action', 'Please provide your comments for taking the action.', 'toBeMapped')">            
                              To Be Mapped
                      </button>
                    </td> 
                    <td>
                      <button type="submit"
                              *ngIf="canChangeAborted"
                              class="btnReject"
                              (click)="takeActionOnEnquiryRecord('Enter comments for action', 'Please provide your comments for taking the action.', 'aborted', true)">            
                              Abort Enquiry
                      </button>
                    </td>
                  </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label></label></td>
            <td><label class="data"></label></td>
          </tr>
      </table>
      <table class="form-container-generic-table">
        <tr>
          <td align="right">
            <button *ngIf="showRecordUpdateButton" type="submit"
                    class="ok-button form-container-update-button"
                    (click)="updateEnquiryRecord()">
              Update Enquiry
            </button>
          </td>
          <td>
            <button *ngIf="showRecordUpdateButton" type="submit"
                    class="cancel-button form-container-update-button"
                    (click)="resetEnquiryRecord()">
              Reset Enquiry
            </button>
          </td>
        </tr>
      </table>
      <div class="form-mask" id="enquiry-record-update-form-mask-loader" [hidden]="enquiryUpdateFormMaskLoaderHidden">
        <div class="form-loader"></div>
      </div>  
    </form>
  </div>
</div>
