<div
  style="display: flex; flex-direction: column; align-items: center; align-content: center; justify-content: center; padding: 30px">
  <form id="reset-password-form" class="form-container">
    <h1>Reset Password</h1>
    <span class="error" *ngIf="errorResponse">{{errorResponse}}</span>
    <span class="success" *ngIf="successMessage">{{successMessage}}</span>
    <input name="newPassword" placeholder="New Password" type="password" required [(ngModel)]="newPassword">
    <span class="validation-error" *ngIf="errorNewPassword">{{errorNewPassword}}</span>
    <input name="retypeNewPassword" placeholder="Re-Type New Password" type="password" required [(ngModel)]="retypeNewPassword">
    <span class="validation-error" *ngIf="errorRetypeNewPassword">{{errorRetypeNewPassword}}</span>
    <button type="submit" class="button-primary" style="display: flex; align-self: flex-end;" (click)="changePassword()">
      Change Password
    </button>
    <span class="button-white-link" routerLink="/public/login" style="align-self: flex-start">Back to Login</span>
    <div class="form-mask" id="forgot-password-form-mask-loader" [hidden]="forgotPasswordMaskLoaderHidden">
      <div class="form-loader"></div>
    </div>
  </form>
</div>
