<!--*ngIf="rendersubscriptionRecordForm"-->
<div
  style="display: flex; flex-direction: column; align-items: center; align-content: center; justify-content: center; padding: 30px">
  <form class="form-container" style="max-width: 700px">
    <div *ngIf="subscriptionDataAccess.formDataEditAccess"
         style="display: flex; flex-direction: row; justify-content: flex-end">
      <label class="tab_container" (change)="editRecordForm = false;">
        <input type="radio" checked name="editFormChoice">
        <span class="tab_checkmark left">View</span>
      </label>
      <label class="tab_container" (change)="editRecordForm = true;">
        <input type="radio" name="editFormChoice">
        <span class="tab_checkmark right">Edit</span>
      </label>
    </div>
    <table style="width: 100%;">
      <tr>
        <td><label>Name</label></td>
        <td><input class="input_field" type="text" value="{{subscriptionRecord.property['name']}}"
                   [disabled]="!editRecordForm"
                   (change)="updateSubscriptionProperty('name', $event.target.value, 'string')">
        </td>
      </tr>
      <tr>
        <td><label>Application Date</label></td>
        <td><input class="input_field" type="date" value="{{subscriptionRecord.property['applicationDate']}}"
                   [disabled]="!editRecordForm"
                   (change)="updateSubscriptionProperty('applicationDate', $event.target.value, 'date')"></td>
      </tr>
      <tr>
        <td><label>Application Status</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Application Status'" [data]="applicationStatusFilterOptions"
                                   [(ngModel)]="selectedApplicationStatus" name="applicationStatus"
                                   [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateSubscriptionProperty('applicationStatus', $event.value, 'list')">
          </ng-multiselect-dropdown>
        </td>
      </tr>
      <tr>
        <td><label>Contact Number</label></td>
        <td><input class="input_field" type="text" value="{{subscriptionRecord.property['contactNumber']}}"
                   [disabled]="!editRecordForm"
                   (change)="updateSubscriptionProperty('contactNumber', $event.target.value, 'string')">
        </td>
      </tr>
      <tr>
        <td><label>Email Id</label></td>
        <td><input class="input_field" type="email" value="{{subscriptionRecord.property['emailId']}}"
                   [disabled]="!editRecordForm"
                   (change)="updateSubscriptionProperty('emailId', $event.target.value, 'string')">
        </td>
      </tr>
      <tr>
        <td><label>Student Grades</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Student Grades'" [data]="studentGradesFilterOptions"
                                   [(ngModel)]="selectedStudentGradeOptions" name="studentGrades"
                                   [settings]="multiSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateSubscriptionProperty('studentGrades', $event.value, 'list')">
          </ng-multiselect-dropdown>
        </td>
      </tr>
      <tr>
        <td><label>Subjects</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Subjects'" [data]="subjectsFilterOptions"
                                   [(ngModel)]="selectedSubjectOptions" name="subjectOptions"
                                   [settings]="multiSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateSubscriptionProperty('subjects', $event.value, 'list')">
          </ng-multiselect-dropdown>
        </td>
      </tr>
      <tr>
        <td><label>Locations</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Locations'" [data]="locationsFilterOptions"
                                   [(ngModel)]="selectedLocationOptions" name="locationOption"
                                   [settings]="multiSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateSubscriptionProperty('locations', $event.value, 'list')">
          </ng-multiselect-dropdown>
        </td>
      </tr>
      <tr>
        <td><label>Preferred Time To Call</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Preferred Time To Call'" [data]="preferredTimeToCallFilterOptions"
                                   [(ngModel)]="selectedCallTimeOption" name="callTimeOptions"
                                   [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateSubscriptionProperty('preferredTimeToCall', $event.value, 'list')">
          </ng-multiselect-dropdown>
        </td>
      </tr>
      <tr>
        <td><label>Additional Details</label></td>
        <td><input class="input_field" type="text" [disabled]="!editRecordForm"
                   value="{{getFormattedDate(subscriptionRecord.property['additionalDetails'])}}"
                   (change)="updateSubscriptionProperty('additionalDetails', $event.target.value, 'string')"></td>

      </tr>
      <tr>
        <td><label>Address Details</label></td>
        <td><input class="input_field" type="text" [disabled]="!editRecordForm"
                   value="{{getFormattedDate(subscriptionRecord.property['addressDetails'])}}"
                   (change)="updateSubscriptionProperty('addressDetails', $event.target.value, 'string')"></td>

      </tr>
      <tr>
        <td><label>Reference</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Reference'" [data]="referenceFilterOptions"
                                   [(ngModel)]="selectedReferenceOption" name="referenceOption"
                                   [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateSubscriptionProperty('reference', $event.value, 'list')">
          </ng-multiselect-dropdown>
        </td>
      </tr>


    </table>
    <button *ngIf="subscriptionDataAccess.formDataEditAccess && editRecordForm" type="submit"
            class="button-primary" style="display: flex; align-self: center; margin-top: 10px"
             (click)="updateSubscriptionRecord()">
      Update
    </button>
    <!--<span class="button-white-link" routerLink="/public/resetpassword" routerLinkActive="active" style="align-self: flex-start">Forgot Password</span>-->
  </form>
</div>
