<div class="form-container-div">
  <form *ngIf="showRecordUpdateForm" class="form-container" style="max-width: 80%">
    <div class="form-container-title">
      <span>Record Update Form</span>
    </div>
    <div class="form-container-toggle-button">
      <div *ngIf="!showRecordUpdateEditControlSection" style="margin-right: 1%;margin-bottom: .5rem;"> </div>
      <div *ngIf="showRecordUpdateEditControlSection">
        <label class="tab_container" (change)="setRecordUpdateFormEditStatus(false)">
          <input type="radio" [checked]="!editRecordForm" name="editFormChoice">
          <span class="tab_checkmark left">View</span>
        </label>
        <label class="tab_container" (change)="setRecordUpdateFormEditStatus(true)">
          <input type="radio" [checked]="editRecordForm" name="editFormChoice">
          <span class="tab_checkmark right">Edit</span>
        </label>
      </div>
    </div>
    <table class="form-container-generic-table">
      <tr>
        <td class="td-label"><label>Subscribe With Us Serial Id</label></td>
        <td><label class="data">{{subscribeWithUsRecord.subscribeWithUsSerialId}}</label></td>
      </tr>
      <tr>
        <td class="td-label"><label>First Name</label></td>
        <td><input  class="input_field" 
                    id="firstName"
                    type="text" 
                    value="{{subscribeWithUsRecord.firstName}}"
                    [disabled]="!editRecordForm"
                    (change)="updateSubscribeWithUsProperty('firstName', $event, 'string')">
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Last Name</label></td>
        <td><input  class="input_field" 
                    id="lastName"
                    type="text" 
                    value="{{subscribeWithUsRecord.lastName}}"
                    [disabled]="!editRecordForm"
                    (change)="updateSubscribeWithUsProperty('lastName', $event, 'string')">
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Application Date</label></td>        
        <td><label class="data">{{applicationDateDisplayTime}}</label></td>
      </tr>
      <tr>
        <td class="td-label"><label>Application Status</label></td>
        <td><label class="data">{{applicationStatusLookupValue}}</label></td>
      </tr>
      <tr>
        <td class="td-label"><label>Contact Number</label></td>
        <td><input  class="input_field"
                    id="contactNumber" 
                    type="text" 
                    value="{{subscribeWithUsRecord.contactNumber}}"
                    [disabled]="!editRecordForm"
                    (change)="updateSubscribeWithUsProperty('contactNumber', $event, 'string')">
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Email Id</label></td>
        <td><input  class="input_field" 
                    id="emailId"
                    type="email" 
                    value="{{subscribeWithUsRecord.emailId}}"
                    [disabled]="!editRecordForm"
                    (change)="updateSubscribeWithUsProperty('emailId', $event, 'string')">
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Student Grades</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Student Grades'" [data]="studentGradesFilterOptions"
                                   [(ngModel)]="selectedStudentGradeOptions" name="studentGrades"
                                   [settings]="multiSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateSubscribeWithUsProperty('studentGrades', $event, 'multilist')"
                                   (onDeSelect)="updateSubscribeWithUsProperty('studentGrades', $event, 'multilist', true)"
                                   (onDeSelectAll)="updateSubscribeWithUsProperty('studentGrades', $event, 'multilist', true, true)"
                                   (onSelectAll)="updateSubscribeWithUsProperty('studentGrades', $event, 'multilist', false, true)">
          </ng-multiselect-dropdown>
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Subjects</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Subjects'" [data]="subjectsFilterOptions"
                                   [(ngModel)]="selectedSubjectOptions" name="subjectOptions"
                                   [settings]="multiSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateSubscribeWithUsProperty('subjects', $event, 'multilist')"
                                   (onDeSelect)="updateSubscribeWithUsProperty('subjects', $event, 'multilist', true)"
                                   (onDeSelectAll)="updateSubscribeWithUsProperty('subjects', $event, 'multilist', true, true)"
                                   (onSelectAll)="updateSubscribeWithUsProperty('subjects', $event, 'multilist', false, true)">
          </ng-multiselect-dropdown>
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Location</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Location'" [data]="locationsFilterOptions"
                                   [(ngModel)]="selectedLocationOptions" name="locationOption"
                                   [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateSubscribeWithUsProperty('locations', $event, 'list')"
                                   (onDeSelect)="updateSubscribeWithUsProperty('locations', $event, 'list', true)">
          </ng-multiselect-dropdown>
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Preferred Time To Call</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Preferred Time To Call'" [data]="preferredTimeToCallFilterOptions"
                                   [(ngModel)]="selectedCallTimeOption" name="callTimeOptions"
                                   [settings]="multiSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateSubscribeWithUsProperty('preferredTimeToCall', $event, 'multilist')"
                                   (onDeSelect)="updateSubscribeWithUsProperty('preferredTimeToCall', $event, 'multilist', true)"
                                   (onDeSelectAll)="updateSubscribeWithUsProperty('preferredTimeToCall', $event, 'multilist', true, true)"
                                   (onSelectAll)="updateSubscribeWithUsProperty('preferredTimeToCall', $event, 'multilist', false, true)">
          </ng-multiselect-dropdown>
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Additional Details</label></td>
        <td>
          <textarea 
              class="textarea_field"
              id="additionalDetails"
              [disabled]="!editRecordForm" 
              (change)="updateSubscribeWithUsProperty('additionalDetails', $event, 'string')"
          >{{subscribeWithUsRecord.additionalDetails}}</textarea>
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Address Details</label></td>
        <td>
          <textarea 
              class="textarea_field"
              id="addressDetails"
              [disabled]="!editRecordForm" 
              (change)="updateSubscribeWithUsProperty('addressDetails', $event, 'string')"
          >{{subscribeWithUsRecord.addressDetails}}</textarea>
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Reference</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Reference'" [data]="referenceFilterOptions"
                                   [(ngModel)]="selectedReferenceOption" name="referenceOption"
                                   [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateSubscribeWithUsProperty('reference', $event, 'list')"
                                   (onDeSelect)="updateSubscribeWithUsProperty('reference', $event, 'list', true)">
          </ng-multiselect-dropdown>
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Record Last Updated</label></td>
        <td><label class="data">{{recordLastUpdatedDateDisplayTime}}</label></td>
      </tr>
      <tr>
        <td class="td-label"><label>Updated By</label></td>
        <td><label class="data">{{subscribeWithUsRecord.updatedByName}}</label></td>
      </tr>
      <tr style="background-color: aliceblue;" *ngIf="!showEmployeeActionDetails">
        <td class="td-label">
            <i
                id="employee-actions-details-expander"
                class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                (click)="showEmployeeActionDetails = true"></i>
        </td>
        <td>
          Show Action Details
        </td>
      </tr>  
      <tr style="background-color: aliceblue;" *ngIf="showEmployeeActionDetails">
        <td class="td-label">
            <i
                id="employee-actions-details-collapser"
                class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                (click)="showEmployeeActionDetails = false"></i>
        </td>
        <td>
          Hide Action Details
        </td>
      </tr>  
      <tr style="background-color: aliceblue;" *ngIf="showEmployeeActionDetails">
        <td colspan="2">          
          <table width="100%">
              <tr>
                <td class="td-label"><label>Is Contacted</label></td>
                <td><label class="data">{{isContactedLookupValue}}</label></td>              
                <td class="td-label"><label>Who Contacted</label></td>
                <td><label class="data">{{subscribeWithUsRecord.whoContactedName}}</label></td>              
                <td class="td-label"><label>Contacted Date</label></td>
                <td><label class="data">{{contactedDateDisplayTime}}</label></td>
              </tr>
              <tr>
                <td class="td-label"><label>Contacted Remarks</label></td>
                <td colspan="5">
                  <div class="form-remakrs">{{subscribeWithUsRecord.contactedRemarks}}</div>
                </td>
              </tr>
              <tr>
                <td class="td-label"><label>Is Authentication Verified</label></td>
                <td><label class="data">{{isAuthenticationVerifiedLookupValue}}</label></td>
                <td class="td-label"><label>Who Verified</label></td>
                <td><label class="data">{{subscribeWithUsRecord.whoVerifiedName}}</label></td>              
                <td class="td-label"><label>Verification Date</label></td>
                <td><label class="data">{{verificationDateDisplayTime}}</label></td>
              </tr>
              <tr>
                <td class="td-label"><label>Verification Remarks</label></td>
                <td colspan="5">
                  <div class="form-remakrs">{{subscribeWithUsRecord.verificationRemarks}}</div>
                </td>
              </tr>
              <tr>
                <td class="td-label"><label>Is To Be Recontacted</label></td>
                <td><label class="data">{{isToBeRecontactedLookupValue}}</label></td>
                <td class="td-label"><label>Who Suggested For Recontact</label></td>
                <td><label class="data">{{subscribeWithUsRecord.whoSuggestedForRecontactName}}</label></td>              
                <td class="td-label"><label>Suggestion Date</label></td>
                <td><label class="data">{{suggestionDateDisplayTime}}</label></td>
              </tr>
              <tr>
                <td class="td-label"><label>Suggestion Remarks</label></td>
                <td colspan="5">
                  <div class="form-remakrs">{{subscribeWithUsRecord.suggestionRemarks}}</div>
                </td>
              </tr>
              <tr>
                <td class="td-label"><label></label></td>
                <td><label class="data"></label></td>
                <td class="td-label"><label>Who Recontacted</label></td>
                <td><label class="data">{{subscribeWithUsRecord.whoRecontactedName}}</label></td>              
                <td class="td-label"><label>Recontacted Date</label></td>
                <td><label class="data">{{recontactedDateDisplayTime}}</label></td>
              </tr>
              <tr>
                <td class="td-label"><label>Recontacted Remarks</label></td>
                <td colspan="5">
                  <div class="form-remakrs">{{subscribeWithUsRecord.recontactedRemarks}}</div>
                </td>
              </tr>
              <tr>
                <td class="td-label"><label>Is Selected</label></td>
                <td><label class="data">{{isSelectedLookupValue}}</label></td>
                <td class="td-label"><label>Who Selected</label></td>
                <td><label class="data">{{subscribeWithUsRecord.whoSelectedName}}</label></td>              
                <td class="td-label"><label>Selection Date</label></td>
                <td><label class="data">{{selectionDateDisplayTime}}</label></td>
              </tr>
              <tr>
                <td class="td-label"><label>Selection Remarks</label></td>
                <td colspan="5">
                  <div class="form-remakrs">{{subscribeWithUsRecord.selectionRemarks}}</div>
                </td>
              </tr>
              <tr>
                <td class="td-label"><label>Is Rejected</label></td>
                <td><label class="data">{{isRejectedLookupValue}}</label></td>
                <td class="td-label"><label>Who Rejected</label></td>
                <td><label class="data">{{subscribeWithUsRecord.whoRejectedName}}</label></td>              
                <td class="td-label"><label>Rejection Date</label></td>
                <td><label class="data">{{rejectionDateDisplayTime}}</label></td>
              </tr>
              <tr>
                <td class="td-label"><label>Rejection Remarks</label></td>
                <td colspan="5">
                  <div class="form-remakrs">{{subscribeWithUsRecord.rejectionRemarks}}</div>
                </td>
              </tr>
          </table>
        </td>
      </tr>
      <tr style="background-color: beige;" *ngIf="!showEmployeeActionButtons && !takeActionDisabled">
        <td class="td-label">
            <i
                id="employee-actions-details-expander"
                class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                (click)="showEmployeeActionButtons = true"></i>
        </td>
        <td>
          Show Action Buttons
        </td>
      </tr>
      <tr style="background-color: beige;" *ngIf="showEmployeeActionButtons && !takeActionDisabled">
        <td class="td-label">
            <i
                id="employee-actions-details-collapser"
                class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                (click)="showEmployeeActionButtons = false"></i>
        </td>
        <td>
          Hide Action Buttons
        </td>
      </tr> 
      <tr style="background-color: beige;" *ngIf="showEmployeeActionButtons && !takeActionDisabled">
        <td></td>
        <td>           
          <table width="100%">
              <tr>
                <td>
                  <button type="submit"
                          *ngIf="canBlacklist"
                          class="btnReject"
                          (click)="takeActionOnSubscribeWithUsRecord('Enter comments to Blacklist', 'Please provide your comments to Blacklist.', 'blacklist', true, true)">            
                          Blacklist
                  </button>
                </td> 
                <td>
                  <button type="submit"
                          *ngIf="canMakeContacted"
                          class="btnSubmit"
                          (click)="takeActionOnSubscribeWithUsRecord('Enter comments for action', 'Please provide your comments for taking the action.', 'contacted')">            
                          Contacted
                  </button>
                </td>
                <td>
                  <button type="submit"
                          *ngIf="canMakeReverified"
                          class="btnSubmit"
                          (click)="takeActionOnSubscribeWithUsRecord('Enter comments for action', 'Please provide your comments for taking the action.', 'reverify')">            
                          Re-Verify
                  </button>
                </td> 
                <td>
                  <button type="submit"
                          *ngIf="canMakeVerified"
                          class="btnSubmit"
                          (click)="takeActionOnSubscribeWithUsRecord('Enter comments for action', 'Please provide your comments for taking the action.', 'verify')">            
                          Verify
                  </button>
                </td>
                <td>
                  <button type="submit"
                          *ngIf="canMakeFailVerified"
                          class="btnReject"
                          (click)="takeActionOnSubscribeWithUsRecord('Enter comments for action', 'Please provide your comments for taking the action.', 'failverify', true)">            
                          Fail Verify
                  </button>
                </td>                 
                <td>
                  <button type="submit"
                          *ngIf="canMakeToBeRecontact"
                          class="btnReset"
                          (click)="takeActionOnSubscribeWithUsRecord('Enter comments for action', 'Please provide your comments for taking the action.', 'recontact', true)">            
                          To Be Re-Contacted
                  </button>
                </td>
                <td>
                  <button type="submit"
                          *ngIf="canMakeRecontacted"
                          class="btnReset"
                          (click)="takeActionOnSubscribeWithUsRecord('Enter comments for action', 'Please provide your comments for taking the action.', 'recontacted')">            
                          Re-Contacted
                  </button>
                </td>
                <td>
                  <button type="submit"
                          *ngIf="canMakeSelected"
                          class="btnSubmit"
                          (click)="takeActionOnSubscribeWithUsRecord('Enter comments for action', 'Please provide your comments for taking the action.', 'select')">            
                          Select
                  </button>
                </td>
                <td>
                  <button type="submit"
                          *ngIf="canMakeRejected"
                          class="btnReject"
                          (click)="takeActionOnSubscribeWithUsRecord('Enter comments for action', 'Please provide your comments for taking the action.', 'reject', true)">            
                          Reject
                  </button>
                </td>
              </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="td-label"></td>
        <td></td>
      </tr>
    </table>
    <table class="form-container-generic-table">
      <tr>
        <td align="right">
            <button *ngIf="showRecordUpdateButton" type="submit"
                    class="ok-button form-container-update-button"
                    (click)="updateSubscribeWithUsRecord()">
              Update Subscribe Wit hUs
            </button>
        </td>
        <td>
          <button *ngIf="showRecordUpdateButton" type="submit"
                  class="cancel-button form-container-update-button"
                  (click)="resetSubscribeWithUsRecord()">
              Reset Subscribe Wit hUs
          </button>
        </td>
      </tr>
    </table>
    <div class="form-mask" id="subscribe-with-us-form-mask-loader" [hidden]="subscribeWithUsFormMaskLoaderHidden">
      <div class="form-loader"></div>
    </div>
  </form>
</div>
