<div class="form-container-div">
  <form class="form-container" style="max-width: 80%">
    <div *ngIf="queryDataAccess.queryResponseCapableAccess && !formEditMandatoryDisbaled"
          class="form-container-toggle-button">
      <label class="tab_container" (change)="editRecordForm = false;">
        <input type="radio" checked name="editFormChoice">
        <span class="tab_checkmark left">View</span>
      </label>
      <label class="tab_container" (change)="editRecordForm = true;">
        <input type="radio" name="editFormChoice">
        <span class="tab_checkmark right">Edit</span>
      </label>
    </div>
    <table class="form-container-generic-table">
      <tr>
        <td class="td-label"><label>Query Requested Date</label></td>
        <td><label class="data">{{getDateFromMillis(queryRecord.property['queryRequestedDateMillis'])}}</label></td>        
      </tr>
      <tr>
        <td class="td-label"><label>Query Status</label></td>
        <td><label class="data">{{getLookupRendererFromValue(queryRecord.property['queryStatus'], queryStatusFilterOptions)}}</label></td>        
      </tr>
      <tr>
        <td class="td-label"><label>Email Id</label></td>
        <td><label class="data">{{queryRecord.property['emailId']}}</label></td>        
      </tr>
      <tr>
        <td class="td-label"><label>Query Details</label></td>
        <td><div class="form-remakrs">{{queryRecord.property['queryDetails']}}</div></td>
      </tr>
      <tr>
        <td class="td-label"><label>Query Response</label></td>
        <td><div class="form-remakrs">{{queryRecord.property['queryResponse']}}</div></td>        
      </tr>
      <tr>
        <td class="td-label"><label>Record Last Updated</label></td>
        <td><label class="data">{{getDateFromMillis(queryRecord.property['recordLastUpdatedMillis'])}}</label></td>
      </tr>
      <tr>
        <td class="td-label"><label>Updated By</label></td>
        <td><label class="data">{{queryRecord.property['updatedByName']}}</label></td>
      </tr>
      <tr style="background-color: aliceblue;" *ngIf="!showEmployeeActionDetails">
        <td class="td-label">
            <i
                id="employee-actions-details-expander"
                class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                (click)="showEmployeeActionDetails = true"></i>
        </td>
        <td>
          Show Action Details
        </td>
      </tr> 
      <tr style="background-color: aliceblue;" *ngIf="showEmployeeActionDetails">
        <td colspan="2">          
          <table class="form-container-generic-table">
              <tr>
                <td class="td-label">
                    <i
                        id="employee-actions-details-collapser"
                        class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                        (click)="showEmployeeActionDetails = false"></i>
                </td>
                <td colspan="5">
                  Hide Action Details
                </td>
              </tr>
              <tr>
                <td class="td-label"><label>Is Contacted</label></td>
                <td><label class="data">{{getLookupRendererFromValue(queryRecord.property['isContacted'], yesNoFilterOptions)}}</label></td>              
                <td class="td-label"><label>Who Responded</label></td>
                <td><label class="data">{{queryRecord.property['whoContactedName']}}</label></td>              
                <td class="td-label"><label>Responded Date</label></td>
                <td><label class="data">{{getDateFromMillis(queryRecord.property['contactedDateMillis'])}}</label></td>
              </tr>
              <tr>
                <td class="td-label"><label>Put on Hold</label></td>
                <td><label class="data">{{getLookupRendererFromValue(queryRecord.property['notAnswered'], yesNoFilterOptions)}}</label></td>              
                <td class="td-label"><label>Who Put on Hold</label></td>
                <td><label class="data">{{queryRecord.property['whoNotAnsweredName']}}</label></td>              
                <td class="td-label"><label></label></td>
                <td><label class="data"></label></td>
              </tr>
              <tr>
                <td class="td-label"><label>Put on Hold Reason</label></td>
                <td colspan="5">
                  <div class="form-remakrs">{{queryRecord.property['notAnsweredReason']}}</div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr style="background-color: beige;" *ngIf="!showEmployeeActionButtons && !takeActionDisabled">
          <td class="td-label">
              <i
                  id="employee-actions-details-expander"
                  class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                  (click)="showEmployeeActionButtons = true"></i>
          </td>
          <td>
            Show Action Buttons
          </td>
        </tr>  
        <tr style="background-color: beige;" *ngIf="showEmployeeActionButtons && !takeActionDisabled">
          <td colspan="2">          
            <table class="form-container-generic-table">
                <tr>
                  <td class="td-label">
                      <i
                          id="employee-actions-details-collapser"
                          class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                          (click)="showEmployeeActionButtons = false"></i>
                  </td>
                  <td colspan="3">
                    Hide Action Buttons
                  </td>
                </tr>
                <tr *ngIf="selectedRecordGridType === 'nonContactedQueryGrid'">
                  <td></td>
                  <td>
                    <button type="submit"
                            class="btnSubmit"
                            (click)="takeActionOnQueryRecord('Respond to Query', 'Please provide your response for the query.', 'respond', true)">            
                            Respond
                    </button>
                  </td> 
                  <td></td>              
                  <td></td>
                  <td>
                    <button type="submit"
                            class="btnReject"
                            (click)="takeActionOnQueryRecord('Put query on hold', 'Please provide your explanation for putting query on hold.', 'hold', true)">            
                            Put On Hold
                    </button>
                  </td>
                </tr>
                <tr *ngIf="selectedRecordGridType === 'nonAnsweredQueryGrid'">
                  <td></td>
                  <td>
                    <button type="submit"
                            class="btnSubmit"
                            (click)="takeActionOnQueryRecord('Respond to Query', 'Please provide your response for the query.', 'respond', true)">            
                            Respond
                    </button>
                  </td> 
                  <td></td>              
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>                         
            </table>
          </td>
        </tr>
    </table>
    <button *ngIf="queryDataAccess.queryResponseCapableAccess  && !formEditMandatoryDisbaled && editRecordForm" type="submit"
              class="ok-button form-container-update-button"
              (click)="updateQueryRecord()">
      Update
    </button>
  </form>
</div>
