<div
  style="display: flex; flex-direction: column; align-items: center; align-content: center; justify-content: center; padding: 30px">
  <form class="form-container" style="max-width: 80%">
    <div *ngIf="subscriptionDataAccess.formDataEditAccess"
          class="form-container-toggle-button">
      <label class="tab_container" (change)="editRecordForm = false;">
        <input type="radio" checked name="editFormChoice">
        <span class="tab_checkmark left">View</span>
      </label>
      <label class="tab_container" (change)="editRecordForm = true;">
        <input type="radio" name="editFormChoice">
        <span class="tab_checkmark right">Edit</span>
      </label>
    </div>
    <table class="form-container-generic-table">
      <tr>
        <td class="td-label"><label>Query Requested Date</label></td>
        <td><label class="data">{{getDateFromMillis(queryRecord.property['queryRequestedDateMillis'])}}</label></td>        
      </tr>
      <tr>
        <td class="td-label"><label>Query Status</label></td>
        <td><label class="data">{{getLookupRendererFromValue(queryRecord.property['queryStatus'], queryStatusFilterOptions)}}</label></td>        
      </tr>
      <tr>
        <td class="td-label"><label>Email Id</label></td>
        <td><label class="data">{{queryRecord.property['emailId']}}</label></td>        
      </tr>
      <tr>
        <td class="td-label"><label>Query Details</label></td>
        <td><div class="form-remakrs">{{queryRecord.property['queryDetails']}}</div></td>
      </tr>
      <tr>
        <td class="td-label"><label>Query Response</label></td>
        <td><input class="input_field" type="text" value="{{queryRecord.property['queryResponse']}}"
                   [disabled]="!editRecordForm"
                   (change)="updateQueryProperty('queryResponse', $event.target.value, 'string')">
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Not Answered Reason</label></td>
        <td><input class="input_field" type="text" value="{{queryRecord.property['notAnsweredReason']}}"
                   [disabled]="!editRecordForm"
                   (change)="updateQueryProperty('notAnsweredReason', $event.target.value, 'string')">
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Is Registered Tutor</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Is Registered Tutor'" [data]="yesNoFilterOptions"
                                   [(ngModel)]="selectedTutorRegisteredOption" name="isTutorRegistered"
                                   [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateQueryProperty('registeredTutor', $event.value, 'list')">
          </ng-multiselect-dropdown>
        </td>
      </tr>
      <tr>
        <td class="td-label"><label>Is Subscribed Customer</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Is Subscribed Customer'" [data]="yesNoFilterOptions"
                                   [(ngModel)]="selectedCustomerSubscribedOption" name="isCustomerSubscribed"
                                   [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateQueryProperty('subscribedCustomer', $event.value, 'list')">
          </ng-multiselect-dropdown>
        </td>
      </tr>
    </table>
    <button *ngIf="subscriptionDataAccess.formDataEditAccess && editRecordForm" type="submit"
            class="button-primary" style="display: flex; align-self: center; margin-top: 10px"
            (click)="updateQueryRecord()">
      Update
    </button>
  </form>
</div>
