<!--*ngIf="renderqueryRecordForm"-->
<div
  style="display: flex; flex-direction: column; align-items: center; align-content: center; justify-content: center; padding: 30px">
  <form class="form-container" style="max-width: 700px">
    <div *ngIf="subscriptionDataAccess.formDataEditAccess"
         style="display: flex; flex-direction: row; justify-content: flex-end">
      <label class="tab_container" (change)="editRecordForm = false;">
        <input type="radio" checked name="editFormChoice">
        <span class="tab_checkmark left">View</span>
      </label>
      <label class="tab_container" (change)="editRecordForm = true;">
        <input type="radio" name="editFormChoice">
        <span class="tab_checkmark right">Edit</span>
      </label>
    </div>
    <table style="width: 100%;">
      <tr>
        <td width="40%"><label>Query Requested Date</label></td>
        <td><input class="input_field" type="date" value="{{queryRecord.property['queryRequestedDate']}}"
                   [disabled]="!editRecordForm"
                   (change)="updateQueryProperty('queryRequestedDate', $event.target.value, 'date')">
        </td>
      </tr>
      <tr>
        <td><label>Query Status</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Query Status'" [data]="applicationStatusFilterOptions"
                                   [(ngModel)] = "selectedQueryStatus" name="queryStatus"
                                   [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateQueryProperty('queryStatus', $event.value, 'list')">
          </ng-multiselect-dropdown>
        </td>
      </tr>
      <tr>
        <td width="40%"><label>Email Id</label></td>
        <td><input class="input_field" type="email" value="{{queryRecord.property['emailId']}}"
                   [disabled]="!editRecordForm"
                   (change)="updateQueryProperty('emailId', $event.target.value, 'string')">
        </td>
      </tr>
      <tr>
        <td width="40%"><label>Query Details</label></td>
        <td><input class="input_field" type="text" value="{{queryRecord.property['queryDetails']}}"
                   [disabled]="!editRecordForm"
                   (change)="updateQueryProperty('queryDetails', $event.target.value, 'string')">
        </td>
      </tr>
      <tr>
        <td width="40%"><label>Query Response</label></td>
        <td><input class="input_field" type="text" value="{{queryRecord.property['queryResponse']}}"
                   [disabled]="!editRecordForm"
                   (change)="updateQueryProperty('queryResponse', $event.target.value, 'string')">
        </td>
      </tr>
      <tr>
        <td width="40%"><label>Not Answered Reason</label></td>
        <td><input class="input_field" type="text" value="{{queryRecord.property['notAnsweredReason']}}"
                   [disabled]="!editRecordForm"
                   (change)="updateQueryProperty('notAnsweredReason', $event.target.value, 'string')">
        </td>
      </tr>
      <tr>
        <td><label>Is Registered Tutor</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Is Registered Tutor'" [data]="yesNoFilterOptions"
                                   [(ngModel)]="selectedTutorRegisteredOption" name="isTutorRegistered"
                                   [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateQueryProperty('registeredTutor', $event.value, 'list')">
          </ng-multiselect-dropdown>
        </td>
      </tr>
      <tr>
        <td><label>Is Subscribed Customer</label></td>
        <td>
          <ng-multiselect-dropdown [placeholder]="'Is Subscribed Customer'" [data]="yesNoFilterOptions"
                                   [(ngModel)]="selectedCustomerSubscribedOption" name="isCustomerSubscribed"
                                   [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                   (onSelect)="updateQueryProperty('subscribedCustomer', $event.value, 'list')">
          </ng-multiselect-dropdown>
        </td>
      </tr>
    </table>
    <button *ngIf="subscriptionDataAccess.formDataEditAccess && editRecordForm" type="submit"
            class="button-primary" style="display: flex; align-self: center; margin-top: 10px"
            (click)="updateQueryRecord()">
      Update
    </button>
    <!--<span class="button-white-link" routerLink="/public/resetpassword" routerLinkActive="active" style="align-self: flex-start">Forgot Password</span>-->
  </form>
</div>
