<!--Alert Dialog-->
<div id="alert-dialog" class="dialog" [hidden]="hideAlertBox">
  <div class="dialog_modal">
    <span class="title">{{alertTitle}}</span>
    <span *ngIf="!isMultiMessage" class="message">{{alertMessage}}</span>
    <div *ngIf="isMultiMessage" class="multi-message-div">
      <div *ngFor="let message of alertMessagesList; let i = index" class="message-div">
        <span class="message">{{message}}</span>
      </div>
    </div>
    <div class="modal_control">
      <button *ngIf="isSuccess" 
              class="action-button ok-button"
              (click)="onButtonClicked()">
              OK
      </button>
      <button *ngIf="!isSuccess" 
              class="action-button cancel-button"
              (click)="onButtonClicked()">
              CANCEL
      </button>
    </div>
  </div>
</div>
