<!-- Toolbar -->
<div class="toolbar">
  <a href="{{staticPageURl}}" target="_blank"><img src="../assets/logo.PNG"></a>
  <span class="toolbar-title">{{title}}</span>
</div>

<!--Main Content-->
<div class="main_content">
  <div id="menu-container">
    <div *ngFor="let element of menu; let i = index">
      <button id="{{'menuButton'+i}}" (click)="showDropMenu(i)">{{element.name}}</button>
      <div style="display: none" id = "{{'menuBox'+i}}"  *ngIf="element.submenu">
        <button *ngFor="let sub_element of element.submenuitems">{{sub_element.name}}</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
