<div>
  <div id="find-tutor-list-page" *ngIf="!showFindTutorData">
    <app-grid #nonContactedFindTutorGrid id="non-contacted-find-tutor-grid" [gridMetaData]="nonContactedFindTutorGridMetaData"></app-grid>
    <app-grid #nonVerifiedFindTutorGrid id="non-verified-find-tutor-grid" [gridMetaData]="nonVerifiedFindTutorGridMetaData"></app-grid>
    <app-grid #verifiedFindTutorGrid id="verified-find-tutor-grid" [gridMetaData]="verifiedFindTutorGridMetaData"></app-grid>
    <app-grid #verificationFailedFindTutorGrid id="verification-failed-find-tutor-grid" [gridMetaData]="verificationFailedFindTutorGridMetaData"></app-grid>
    <app-grid #toBeReContactedFindTutorGrid id="to-be-recontacted-find-tutor-grid" [gridMetaData]="toBeReContactedFindTutorGridMetaData"></app-grid>
    <app-grid #selectedFindTutorGrid id="selected-find-tutor-grid" [gridMetaData]="selectedFindTutorGridMetaData"></app-grid>
    <app-grid #rejectedFindTutorGrid id="rejected-find-tutor-grid" [gridMetaData]="rejectedFindTutorGridMetaData"></app-grid>    
  </div>
  <div id="find-tutor-data-page" *ngIf="showFindTutorData">
    <button
      id="back-to-find-tutor-listing-button"
      class="back-to-listing-button ok-button" (click)="toggleVisibilityFindTutorGrid()">
      <i class="fas fa-chevron-left" style="padding-right: 15px;"></i>Back To Listing
    </button>
    <app-enquiry-data 
              [findTutorSerialId]="selectedFindTutorSerialId" 
              [findTutorDataAccess]="findTutorDataAccess">
    </app-enquiry-data>
  </div>
</div>
