.grid-skm-row {
  display: flex;
  flex-direction: row;
}

.grid-skm-cell {
  font-family: sans-serif;
  font-size: 15px;
  padding: 3px 6px;
  border: solid 0.5pt var(--cellBorderColor);
  display: flex;
  flex: 1 1 auto;
}

.grid-skm-cell input {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  flex: 1 1 auto;
  font-size: 15px;
  line-height: 15px;
}

.grid-skm-cell button {
  border: none;
  margin: 0;
  outline: none;
  flex: 0 0 auto;
  line-height: 20px;
  background-color: transparent;
  color: var(--colorPrimary);
  cursor: pointer;
}

.grid-skm-cell i {
  border: none;
  margin-right: 8px;
  outline: none;
  flex: 0 0 auto;
  font-size: 14px;
  background-color: transparent;
  color: var(--cellBorderColor);
  align-self: center;
}

.grid-skm-cell.title{
  font-weight: bold;
  justify-content: center;
}

.grid-skm-checkbox {

}

.grid-skm-container {
  border: solid 0.5pt var(--cellBorderColor);
  width: 1200px;
  margin: 20px;
}
