<div style="display: flex; justify-content: center">
  <div class="grid-skm-container" *ngIf="showGrid">
    <span class="grid-skm-row">
          <span class="grid-skm-cell title" style="background-color: var(--divider)">{{metaData.title}}</span>
    </span>
    <span class="grid-skm-row">
       <span class="grid-skm-cell">

      Sorting Order: &nbsp;
      <span *ngFor="let element of sortingQueries">
        {{columnsData[element.columnIndex].columnName}}{{(element.isAscending)?': Ascending':': Descending'}}&nbsp;⯈&nbsp;
      </span>
       </span>
    </span>
    <span class="grid-skm-row">
      <span class="grid-skm-cell grid-skm-checkbox" [ngStyle]="{'width.px': checkBoxCellWidth}"></span>
      <span class="grid-skm-cell title" [ngStyle]="{'width.px': recordTitleCellWidth}"
            *ngFor="let element of columnsData">{{element.columnName}} </span>
      <span class="grid-skm-cell title" [ngStyle]="{'width.px': actionTitleCellWidth}">Action</span>
    </span>
    <span class="grid-skm-row">
      <span class="grid-skm-cell grid-skm-checkbox" [ngStyle]="{'width.px': checkBoxCellWidth}"></span>
      <span class="grid-skm-cell grid-skm-column-title" [ngStyle]="{'width.px': recordTitleCellWidth}"
            *ngFor="let element of columnsData; let i=index">

        <span *ngIf="element.datatype === 'string'">
          <i class="fas fa-search"></i>
          <input [disabled]="!element.filterable" style="width: 60%" placeholder="Filter"
                 (input)="addFilterQuery(i, $event.target.value, 'string', comparision_type_contains)">
        </span>
        <span *ngIf="element.datatype === 'number'">
          GT<input [disabled]="!element.filterable" style="width: 20%" placeholder="Filter"
                 (input)="addFilterQuery(i, $event.target.value, 'number', comparision_type_greater_than)">
          ET<input [disabled]="!element.filterable" style="width: 20%" placeholder="Filter"
                   (input)="addFilterQuery(i, $event.target.value,'number', comparision_type_equal_to)">
          LT<input [disabled]="!element.filterable" style="width: 20%" placeholder="Filter"
                   (input)="addFilterQuery(i, $event.target.value,'number', comparision_type_less_than)">
        </span>

        <span *ngIf="element.datatype === 'list'">
          <select style="width: 100%" (input)="addFilterQuery(i, $event.target.value,'string', comparision_type_equal_to)">
            <option selected value="">Select value</option>
            <option  *ngFor="let value of element.allowed_values" value="{{value}}">{{value}}</option>
          </select>
        </span>
        <button [disabled]="!element.sortable" (click)="addSortingQuery(i, true)">⯆</button>
        <button [disabled]="!element.sortable" (click)="addSortingQuery(i, false)">⯅</button>
      </span>
      <span class="grid-skm-cell grid-skm-column-title" [ngStyle]="{'width.px': actionTitleCellWidth}">
        <button (click)="resetFilterQuery()">Reset Filter</button>
        <button (click)="resetSortQuery()">Reset Sorting</button>
      </span>
    </span>
    <span class="grid-skm-row" *ngFor="let element of filteredRowRecordData; let i=index">
      <span class="grid-skm-cell grid-skm-checkbox" [ngStyle]="{'width.px': checkBoxCellWidth}"></span>
      <span class="grid-skm-cell grid-skm-record-cell" [ngStyle]="{'width.px': recordCellWidth}"
            *ngFor="let element2 of element">
        {{element2}}
      </span>
      <span class="grid-skm-cell grid-skm-record-cell" [ngStyle]="{'width.px': actionCellWidth}"
            *ngFor="let element of getFakeArray(numberOfActionCells)">

      </span>
    </span>
    <span class="grid-skm-row">
        <span class="grid-skm-cell" [ngStyle]="{'width.px': checkBoxCellWidth + 2 * recordTitleCellWidth}">
          Number of record per page: {{metaData.recordPerPage}}
        </span>
        <span class="grid-skm-cell" *ngFor="let element of getFakeArray(columnsData.length - 3)"></span>
        <span class="grid-skm-cell" [ngStyle]="{'width.px': recordCellWidth}">
          Page {{metaData.currentPageNumber}} of {{metaData.totalPageNumbers}}
        </span>
        <span class="grid-skm-cell" [ngStyle]="{'width.px': actionTitleCellWidth}">
          Total Records {{metaData.totalRecords}}
        </span>
      </span>
  </div>
</div>
