<div>
  <div id="map-tutor-to-enquiry-mapped-tutor-list-page" *ngIf="!showMapTutorToEnquiryMappedTutorData">
    <div class="form-container-div">
      <form class="form-container" style="max-width: 80%">
        <table class="form-container-generic-table">
          <tr style="background-color: aliceblue;" *ngIf="!showCustomerDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showCustomerDetails = true"></i>
            </td>
            <td>
              Show Customer Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showCustomerDetails = false"></i>
            </td>
            <td>
              Hide Customer Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Serial Id</label></td>
            <td><label class="data link_opener" (click)="openCustomerRecord()">{{enquiryRecord.customerSerialId}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Name</label></td>
            <td><label class="data">{{enquiryRecord.customerName}}</label></td>        
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Email</label></td>
            <td><label class="data">{{enquiryRecord.customerEmail}}</label></td>        
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Contact Number</label></td>
            <td><label class="data">{{enquiryRecord.customerContactNumber}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="!showEnquiryDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEnquiryDetails = true"></i>
            </td>
            <td>
              Show Enquiry Details
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEnquiryDetails = false"></i>
            </td>
            <td>
              Hide Enquiry Details
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Enquiry Serial Id</label></td>
            <td><label class="data link_opener" (click)="openEnquiryRecord()">{{enquiryRecord.enquirySerialId}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Subject</label></td>
            <td><label class="data">{{enquirySubjectLookupRendererFromValue}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Grade</label></td>
            <td><label class="data">{{enquiryGradeLookupRendererFromValue}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Preferred Teaching Type</label></td>
            <td><label class="data">{{enquiryPreferredTeachingTypeLookupRendererFromValue}}</label></td>                    
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Location</label></td>
            <td><label class="data">{{enquiryLocationLookupRendererFromValue}}</label></td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Address Details</label></td>
            <td>
              <div class="form-remakrs">{{enquiryRecord.addressDetails}}</div>
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Additional Details</label></td>
            <td>
                <div class="form-remakrs">{{enquiryRecord.additionalDetails}}</div>
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Quoted Client Rate</label></td>
            <td><label class="data">{{enquiryRecord.quotedClientRate}}</label></td>            
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Negotiated Rate With Client</label></td>
            <td><label class="data">{{enquiryRecord.negotiatedRateWithClient}}</label></td></tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Client Negotiation Remarks</label></td>
            <td>
              <div class="form-remakrs">{{enquiryRecord.clientNegotiationRemarks}}</div>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label></label></td>
            <td><label class="data"></label></td>        
          </tr>
          <tr>
            <td colspan="2">          
              <table class="form-container-generic-table">
                <tr>
                  <td class="td-label"><label>Match Subject</label></td>
                  <td><label class="data"><input type="checkbox" class="tutor-grid-eligibilty-criteria-checkbox" id="matchSubject-eligible-checkbox" (click)="selectUnselectEligibility('matchSubject', $event.target)"></label></td>              
                  <td class="td-label"><label>Match Grade</label></td>
                  <td><label class="data"><input type="checkbox" class="tutor-grid-eligibilty-criteria-checkbox" id="matchGrade-eligible-checkbox" (click)="selectUnselectEligibility('matchGrade', $event.target)"></label></td>              
                  <td class="td-label"><label>Match Teaching Type</label></td>
                  <td><label class="data"><input type="checkbox" class="tutor-grid-eligibilty-criteria-checkbox" id="matchTeachingType-eligible-checkbox" (click)="selectUnselectEligibility('matchTeachingType', $event.target)"></label></td>
                </tr>
                <tr>
                  <td class="td-label"><label>Match Location</label></td>
                  <td><label class="data"><input type="checkbox" class="tutor-grid-eligibilty-criteria-checkbox" id="matchLocation-eligible-checkbox" (click)="selectUnselectEligibility('matchLocation', $event.target)"></label></td>              
                  <td class="td-label"><label></label></td>
                  <td><label class="data"></label></td>              
                  <td class="td-label"><label></label></td>
                  <td><label class="data"></label></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <!-- This is the search form-->
        <table class="form-container-generic-table">
          <tr>
            <td align="right">
              <button *ngIf="enquiryDataAccess.enquiryTutorMappingAccess" type="submit"
                      class="ok-button form-container-update-button"
                      (click)="searchEligibleMappingTutors()">
                Search Tutors
              </button>
            </td>
            <td>
              <button *ngIf="enquiryDataAccess.enquiryTutorMappingAccess" type="submit"
                      class="cancel-button form-container-update-button"
                      (click)="resetSearchEligibleMappingTutors()">
                Reset Search
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <app-grid #allMappingEligibleTutorsGrid id="all-mapping-eligible-tutors-grid" [gridMetaData]="allMappingEligibleTutorsGridMetaData"></app-grid>   
    <app-grid #allMappedTutorsGrid id="all-mapped-tutors-grid" [gridMetaData]="allMappedTutorsGridMetaData"></app-grid>
  </div>
  <div id="map-tutor-to-enquiry-mapped-tutor-data-page" *ngIf="showMapTutorToEnquiryMappedTutorData">
    <button
      id="back-to-all-mapped-tutor-listing-button"
      class="back-to-listing-button ok-button" (click)="toggleVisibilityMappedTutorGrid()">
      <i class="fas fa-chevron-left" style="padding-right: 15px;"></i>Back To Listing
    </button>
    <app-mapped-tutor-data 
                [tutorMapperSerialId]="selectedTutorMapperSerialId" 
                [tutorSerialId]="selectedTutorSerialId"
                [customerSerialId]="selectedCustomerSerialId"
                [tutorMapperDataAccess]="tutorMapperDataAccess">
    </app-mapped-tutor-data>
  </div>
</div>
