<div>
  <div id="customer-list-page" *ngIf="!showCustomerData">
    <app-grid #subscribedCustomerGrid id="subscribed-customer-grid" [gridMetaData]="subscribedCustomerGridMetaData"></app-grid>
  </div>
  <div id="customer-data-page" *ngIf="showCustomerData">
    <button
      id="back-to-customer-listing-button"
      class="ok-button" (click)="toggleVisibilitySubscribedCustomerGrid()">
      Back To Listing
    </button>
    <app-subscribed-customer-data [customerRecord]="selectedCustomerRecord" [customerDataAccess]="customerDataAccess"></app-subscribed-customer-data>
  </div>
</div>
