<div>
  <div id="subscription-packages-list-page" *ngIf="!showSubscriptionPackagesData">
    <div class="grid-all-expand-collapse-div">
      <span class="left expand-collapse-span" style="margin-right: 2%;" (click)="expandAllGrids()">
        <i style=" padding: 10px;" class="fa fa-plus"></i>Expand All
      </span>
      <span class="right expand-collapse-span" (click)="collapseAllGrids()">
        <i style=" padding: 10px;" class="fa fa-minus"></i>Collapse All
      </span>
    </div>
    <app-grid #currentSubscriptionPackagesGrid id="current-subscription-packages-grid" [gridMetaData]="currentSubscriptionPackagesGridMetaData"></app-grid>
    <app-grid #historySubscriptionPackagesGrid id="history-subscription-packages-grid" [gridMetaData]="historySubscriptionPackagesGridMetaData"></app-grid>
  </div>
  <div id="subscription-packages-data-page" *ngIf="showSubscriptionPackagesData">
    <button
      id="back-to-subscription-packages-listing-button"
      class="back-to-listing-button ok-button" (click)="toggleVisibilitySubscriptionPackagesGrid()">
      <i class="fas fa-chevron-left" style="padding-right: 15px;"></i>Back To Listing
    </button>
    <app-subscription-package-data 
                  [subscriptionPackageSerialId]="selectedSubscriptionPackageSerialId" 
                  [subscriptionPackageDataAccess]="subscriptionPackageDataAccess">
    </app-subscription-package-data>
  </div>
</div>
