<div>
  <div id="subscription-packages-data-page" *ngIf="!showSubscriptionPackageAssignmentData">
    <app-grid #selectedSubscriptionPackageAllCurrentAssignmentGrid 
              id="selected-subscription-package-all-current-assignment-grid" 
              [gridMetaData]="selectedSubscriptionPackageAllCurrentAssignmentGridMetaData">
    </app-grid>
    <app-grid #selectedSubscriptionPackageAllHistoryAssignmentGrid 
              id="selected-subscription-package-all-history-assignment-grid" 
              [gridMetaData]="selectedSubscriptionPackageAllHistoryAssignmentGridMetaData">
    </app-grid>
    <div class="form-container-div">
      <form id="contractDownloadForm" target="ifrDownload" method="post" class="noscreen">
        <input type="text" value="" size="10" name="subscriptionPackageSerialId" id="contractDownloadForm-subscriptionPackageSerialId" />
      </form>
      <form *ngIf="showRecordUpdateForm" class="form-container" style="max-width: 80%">
        <div class="form-container-title">
          <span>Record Update Form</span>
        </div>
        <div class="form-container-toggle-button">
          <div *ngIf="isContractReady">
              <button type="submit"
                    class="btnSubmit"
                    style="width: 210px; height: 46px;"
                    *ngIf="isContractReady"
                    (click)="downloadContract()">            
                    <i class="fa fa-download" style="color: white; padding: 10px;"></i>Download Contract
              </button>
          </div>
          <div *ngIf="showRecordUpdateEditControlSection">
            <label class="tab_container" (change)="setRecordUpdateFormEditStatus(false)">
              <input type="radio" [checked]="!editRecordForm" name="editFormChoice">
              <span class="tab_checkmark left">View</span>
            </label>
            <label class="tab_container" (change)="setRecordUpdateFormEditStatus(true)">
              <input type="radio" [checked]="editRecordForm" name="editFormChoice">
              <span class="tab_checkmark right">Edit</span>
            </label>
          </div>
        </div>
        <table class="form-container-generic-table">
          <tr style="background-color: aliceblue;" *ngIf="!showCustomerDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showCustomerDetails = true"></i>
            </td>
            <td>
              Show Customer Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showCustomerDetails = false"></i>
            </td>
            <td>
              Hide Customer Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Serial Id</label></td>
            <td><label class="data link_opener" (click)="openCustomerRecord()">{{subscriptionPackageRecord.customerSerialId}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Name</label></td>
            <td><label class="data">{{subscriptionPackageRecord.customerName}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">
            <td class="td-label"><label>Customer Email</label></td>
            <td><label class="data">{{subscriptionPackageRecord.customerEmail}}</label></td>              
          </tr> 
          <tr style="background-color: aliceblue;" *ngIf="showCustomerDetails">            
            <td class="td-label"><label>Customer Contact Number</label></td>
            <td><label class="data">{{subscriptionPackageRecord.customerContactNumber}}</label></td>
          </tr>
          <tr style="background-color: beige;" *ngIf="!showEnquiryDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEnquiryDetails = true"></i>
            </td>
            <td>
              Show Enquiry Details
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEnquiryDetails = false"></i>
            </td>
            <td>
              Hide Enquiry Details
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Enquiry Serial Id</label></td>
            <td><label class="data link_opener" (click)="openEnquiryRecord()">{{subscriptionPackageRecord.enquirySerialId}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Subject</label></td>
            <td><label class="data">{{enquirySubjectLookupRendererFromValue}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Grade</label></td>
            <td><label class="data">{{enquiryGradeLookupRendererFromValue}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Preferred Teaching Type</label></td>
            <td><label class="data">{{enquiryPreferredTeachingTypeLookupRendererFromValue}}</label></td>                    
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Location</label></td>
            <td><label class="data">{{enquiryLocationLookupRendererFromValue}}</label></td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Enquiry Email</label></td>
            <td>
              <label class="data">{{subscriptionPackageRecord.enquiryEmail}}</label>
              <span *ngIf="!subscriptionPackageRecord.isEnquiryEmailSameAsCustomerEmail"> (Different From Customer) </span>
              <span *ngIf="subscriptionPackageRecord.isEnquiryEmailSameAsCustomerEmail"> (Same As Customer) </span>
            </td>              
          </tr> 
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">            
            <td class="td-label"><label>Enquiry Contact Number</label></td>
            <td>
              <label class="data">{{subscriptionPackageRecord.enquiryContactNumber}}</label>
              <span *ngIf="!subscriptionPackageRecord.isEnquiryContactNumberSameAsCustomerContactNumber"> (Different From Customer) </span>
              <span *ngIf="subscriptionPackageRecord.isEnquiryContactNumberSameAsCustomerContactNumber"> (Same As Customer) </span>
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Address Details</label></td>
            <td>
              <div class="form-remakrs">{{subscriptionPackageRecord.enquiryAddressDetails}}</div>
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Additional Details</label></td>
            <td>
                <div class="form-remakrs">{{subscriptionPackageRecord.enquiryAdditionalDetails}}</div>
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Quoted Client Rate</label></td>
            <td><label class="data">{{subscriptionPackageRecord.enquiryQuotedClientRate}}</label></td>            
          </tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Negotiated Rate With Client</label></td>
            <td><label class="data">{{subscriptionPackageRecord.enquiryNegotiatedRateWithClient}}</label></td></tr>
          <tr style="background-color: beige;" *ngIf="showEnquiryDetails">
            <td class="td-label"><label>Client Negotiation Remarks</label></td>
            <td>
              <div class="form-remakrs">{{subscriptionPackageRecord.enquiryClientNegotiationRemarks}}</div>
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="!showTutorDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showTutorDetails = true"></i>
            </td>
            <td>
              Show Tutor Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showTutorDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showTutorDetails = false"></i>
            </td>
            <td>
              Hide Tutor Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showTutorDetails">
            <td class="td-label"><label>Tutor Serial Id</label></td>
            <td><label class="data link_opener" (click)="openTutorRecord()">{{subscriptionPackageRecord.tutorSerialId}}</label></td>        
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showTutorDetails">
            <td class="td-label"><label>Tutor Name</label></td>
            <td><label class="data">{{subscriptionPackageRecord.tutorName}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showTutorDetails">
            <td class="td-label"><label>Tutor Email</label></td>
            <td><label class="data">{{subscriptionPackageRecord.tutorEmail}}</label></td>              
          </tr> 
          <tr style="background-color: aliceblue;" *ngIf="showTutorDetails">            
            <td class="td-label"><label>Tutor Contact Number</label></td>
            <td><label class="data">{{subscriptionPackageRecord.tutorContactNumber}}</label></td>
          </tr>
          <tr style="background-color: beige;" *ngIf="!showTutorMapperDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showTutorMapperDetails = true"></i>
            </td>
            <td>
              Show Tutor Mapper Details
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showTutorMapperDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showTutorMapperDetails = false"></i>
            </td>
            <td>
              Hide Tutor Mapper Details
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showTutorMapperDetails">
            <td class="td-label"><label>Tutor Mapper Serial Id</label></td>
            <td><label class="data link_opener" (click)="openTutorMapperRecord()">{{subscriptionPackageRecord.tutorMapperSerialId}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="showTutorMapperDetails">
            <td class="td-label"><label>Quoted Tutor Rate</label></td>
            <td><label class="data">{{subscriptionPackageRecord.tutorMapperQuotedTutorRate}}</label></td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showTutorMapperDetails">
            <td class="td-label"><label>Negotiated Rate With Tutor</label></td>
            <td><label class="data">{{subscriptionPackageRecord.tutorMapperNegotiatedRateWithTutor}}</label></td>              
          </tr> 
          <tr style="background-color: beige;" *ngIf="showTutorMapperDetails">            
            <td class="td-label"><label>Tutor Negotiation Remarks</label></td>
            <td>
                <div class="form-remakrs">{{subscriptionPackageRecord.tutorMapperTutorNegotiationRemarks}}</div>
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="!showDemoDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showDemoDetails = true"></i>
            </td>
            <td>
              Show Demo Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showDemoDetails = false"></i>
            </td>
            <td>
              Hide Demo Details
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">
            <td class="td-label"><label>Demo Serial Id</label></td>
            <td><label class="data link_opener" (click)="openTutorRecord()">{{subscriptionPackageRecord.demoSerialId}}</label></td>        
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">            
            <td class="td-label"><label>Client Remarks</label></td>
            <td>
                <div class="form-remakrs">{{subscriptionPackageRecord.demoClientRemarks}}</div>
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">            
            <td class="td-label"><label>Tutor Remarks</label></td>
            <td>
                <div class="form-remakrs">{{subscriptionPackageRecord.demoTutorRemarks}}</div>
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">
            <td class="td-label"><label>Client Satisfied From Tutor</label></td>
            <td><label class="data">{{demoClientSatisfiedFromTutorLookupRendererFromValue}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">
            <td class="td-label"><label>Tutor Satisfied With Client</label></td>
            <td><label class="data">{{demoTutorSatisfiedWithClientLookupRendererFromValue}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">
            <td class="td-label"><label>Admin Satisfied From Tutor</label></td>
            <td><label class="data">{{demoAdminSatisfiedFromTutorLookupRendererFromValue}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">
            <td class="td-label"><label>Admin Satisfied With Client</label></td>
            <td><label class="data">{{demoAdminSatisfiedWithClientLookupRendererFromValue}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">
            <td class="td-label"><label>Need Price Negotiation With Client</label></td>
            <td><label class="data">{{demoNeedPriceNegotiationWithClientLookupRendererFromValue}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">
            <td class="td-label"><label>Negotiated Override Rate With Client</label></td>
            <td><label class="data">{{subscriptionPackageRecord.demoNegotiatedOverrideRateWithClient}}</label></td>              
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">            
            <td class="td-label"><label>Client Negotiation Remarks</label></td>
            <td>
                <div class="form-remakrs">{{subscriptionPackageRecord.demoClientNegotiationRemarks}}</div>
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">
            <td class="td-label"><label>Need Price Negotiation With Tutor</label></td>
            <td><label class="data">{{demoNeedPriceNegotiationWithTutorLookupRendererFromValue}}</label></td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">
            <td class="td-label"><label>Negotiated Override Rate With Tutor</label></td>
            <td><label class="data">{{subscriptionPackageRecord.demoNegotiatedOverrideRateWithTutor}}</label></td>              
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">            
            <td class="td-label"><label>Tutor Negotiation Remarks</label></td>
            <td>
                <div class="form-remakrs">{{subscriptionPackageRecord.demoTutorNegotiationRemarks}}</div>
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">            
            <td class="td-label"><label>Admin Remarks</label></td>
            <td>
                <div class="form-remakrs">{{subscriptionPackageRecord.demoAdminRemarks}}</div>
            </td>
          </tr>
          <tr style="background-color: aliceblue;" *ngIf="showDemoDetails">            
            <td class="td-label"><label>Admin Finalizing Remarks</label></td>
            <td>
                <div class="form-remakrs">{{subscriptionPackageRecord.demoAdminFinalizingRemarks}}</div>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label></label></td>
            <td><label class="data"></label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Subscription Package Serial Id</label></td>
            <td><label class="data">{{subscriptionPackageRecord.subscriptionPackageSerialId}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Created Date And Time</label></td>
            <td><label class="data">{{subscriptionPackageCreatedDisplayTime}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Activated Date And Time</label></td>
            <td><label class="data">{{subscriptionPackageStartDateDisplayTime}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Activating Remarks</label></td>
            <td>
                <textarea 
                        class="textarea_field"
                        id="activatingRemarks"
                        [disabled]="!editRecordForm" 
                        (change)="updateSubscriptionPackageProperty('activatingRemarks', $event, 'string')"
                        >{{subscriptionPackageRecord.activatingRemarks}}</textarea>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label>Package Billing Type</label></td>
            <td>
              <ng-multiselect-dropdown [placeholder]="'Package Billing Type'" [data]="packageBillingTypeFilterOptions"
                                        [(ngModel)] = "selectedPackageBillingTypeOptions" name="selectedPackageBillingType"
                                        [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                        (onSelect)="updateSubscriptionPackageProperty('packageBillingType', $event, 'list')"
                                        (onDeSelect)="updateSubscriptionPackageProperty('packageBillingType', $event, 'list', true)">
              </ng-multiselect-dropdown>
            </td>      
          </tr>
          <tr>
            <td class="td-label"><label>Finalized Rate For Client</label></td>
            <td><input class="input_field" type="number" value="{{subscriptionPackageRecord.finalizedRateForClient}}"
                        [disabled]="!editRecordForm"
                        (change)="updateSubscriptionPackageProperty('finalizedRateForClient', $event, 'number')"></td>
          </tr>
          <tr>
            <td class="td-label"><label>Additional Details For Client</label></td>
            <td>
                <textarea 
                        class="textarea_field"
                        id="additionalDetailsClient"
                        [disabled]="!editRecordForm" 
                        (change)="updateSubscriptionPackageProperty('additionalDetailsClient', $event, 'string')"
                        >{{subscriptionPackageRecord.additionalDetailsClient}}</textarea>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label>Finalized Rate For Tutor</label></td>
            <td><input class="input_field" type="number" value="{{subscriptionPackageRecord.finalizedRateForTutor}}"
                        [disabled]="!editRecordForm"
                        (change)="updateSubscriptionPackageProperty('finalizedRateForTutor', $event, 'number')"></td>
          </tr>
          <tr>
            <td class="td-label"><label>Additional Details For Tutor</label></td>
            <td>
                <textarea 
                        class="textarea_field"
                        id="additionalDetailsTutor"
                        [disabled]="!editRecordForm" 
                        (change)="updateSubscriptionPackageProperty('additionalDetailsTutor', $event, 'string')"
                        >{{subscriptionPackageRecord.additionalDetailsTutor}}</textarea>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label>Terminated Date And Time</label></td>
            <td><label class="data">{{subscriptionPackageEndDateDisplayTime}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Terminating Remarks</label></td>
            <td>
                <textarea 
                        class="textarea_field"
                        id="terminatingRemarks"
                        [disabled]="!editRecordForm" 
                        (change)="updateSubscriptionPackageProperty('terminatingRemarks', $event, 'string')"
                        >{{subscriptionPackageRecord.terminatingRemarks}}</textarea>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label>Is Customer Grieved</label></td>
            <td>
              <ng-multiselect-dropdown [placeholder]="'Is Customer Grieved'" [data]="yesNoFilterOptions"
                                        [(ngModel)] = "selectedIsCustomerGrievedOptions" name="selectedIsCustomerGrieved"
                                        [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                        (onSelect)="updateSubscriptionPackageProperty('isCustomerGrieved', $event, 'list')"
                                        (onDeSelect)="updateSubscriptionPackageProperty('isCustomerGrieved', $event, 'list', true)">
              </ng-multiselect-dropdown>
            </td>      
          </tr>
          <tr>
            <td class="td-label"><label>Customer Happiness Index</label></td>
            <td>
              <ng-multiselect-dropdown [placeholder]="'Customer Happiness Index'" [data]="happinessIndexFilterOptions"
                                        [(ngModel)] = "selectedCustomerHappinessIndexOptions" name="selectedCustomerHappinessIndex"
                                        [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                        (onSelect)="updateSubscriptionPackageProperty('customerHappinessIndex', $event, 'list')"
                                        (onDeSelect)="updateSubscriptionPackageProperty('customerHappinessIndex', $event, 'list', true)">
              </ng-multiselect-dropdown>
            </td>      
          </tr>
          <tr>
            <td class="td-label"><label>Customer Remarks</label></td>
            <td>
                <textarea 
                        class="textarea_field"
                        id="customerRemarks"
                        [disabled]="!editRecordForm" 
                        (change)="updateSubscriptionPackageProperty('customerRemarks', $event, 'string')"
                        >{{subscriptionPackageRecord.customerRemarks}}</textarea>
            </td>
          </tr> 
          <tr>
            <td class="td-label"><label>Is Tutor Grieved</label></td>
            <td>
              <ng-multiselect-dropdown [placeholder]="'Is Tutor Grieved'" [data]="yesNoFilterOptions"
                                        [(ngModel)] = "selectedIsTutorGrievedOptions" name="selectedIsTutorGrieved"
                                        [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                        (onSelect)="updateSubscriptionPackageProperty('isTutorGrieved', $event, 'list')"
                                        (onDeSelect)="updateSubscriptionPackageProperty('isTutorGrieved', $event, 'list', true)">
              </ng-multiselect-dropdown>
            </td>      
          </tr>
          <tr>
            <td class="td-label"><label>Tutor Happiness Index</label></td>
            <td>
              <ng-multiselect-dropdown [placeholder]="'Tutor Happiness Index'" [data]="happinessIndexFilterOptions"
                                        [(ngModel)] = "selectedTutorHappinessIndexOptions" name="selectedTutorHappinessIndex"
                                        [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                        (onSelect)="updateSubscriptionPackageProperty('tutorHappinessIndex', $event, 'list')"
                                        (onDeSelect)="updateSubscriptionPackageProperty('tutorHappinessIndex', $event, 'list', true)">
              </ng-multiselect-dropdown>
            </td>      
          </tr>
          <tr>
            <td class="td-label"><label>Tutor Remarks</label></td>
            <td>
                <textarea 
                        class="textarea_field"
                        id="tutorRemarks"
                        [disabled]="!editRecordForm" 
                        (change)="updateSubscriptionPackageProperty('tutorRemarks', $event, 'string')"
                        >{{subscriptionPackageRecord.tutorRemarks}}</textarea>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label>Admin Remarks</label></td>
            <td>
                <textarea 
                        class="textarea_field"
                        id="adminRemarks"
                        [disabled]="!editRecordForm" 
                        (change)="updateSubscriptionPackageProperty('adminRemarks', $event, 'string')"
                        >{{subscriptionPackageRecord.adminRemarks}}</textarea>
            </td>
          </tr>
          <tr>
            <td class="td-label"><label>Action Date</label></td>
            <td><label class="data">{{subscriptionPackageActionDateDisplayTime}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Who Acted</label></td>
            <td><label class="data">{{subscriptionPackageRecord.whoActedName}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Record Last Updated</label></td>
            <td><label class="data">{{subscriptionPackageRecordLastUpdatedDateDisplayTime}}</label></td>        
          </tr>
          <tr>
            <td class="td-label"><label>Updated By</label></td>
            <td><label class="data">{{subscriptionPackageRecord.updatedByName}}</label></td>        
          </tr>
          <tr style="background-color: beige;" *ngIf="!showEmployeeActionButtons && !takeActionDisabled">
            <td class="td-label">
                <i
                    id="employee-actions-details-expander"
                    class="fas fa-plus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEmployeeActionButtons = true"></i>
            </td>
            <td>
              Show Action Buttons
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEmployeeActionButtons && !takeActionDisabled">
            <td class="td-label">
                <i
                    id="employee-actions-details-collapser"
                    class="fas fa-minus" style="cursor: pointer; border: 1px solid black; border-radius: 4px;"
                    (click)="showEmployeeActionButtons = false"></i>
            </td>
            <td>
              Hide Action Buttons
            </td>
          </tr>
          <tr style="background-color: beige;" *ngIf="showEmployeeActionButtons && !takeActionDisabled">
            <td></td>
            <td>           
              <table width="100%">
                  <tr>
                    <td>
                      <button type="submit"
                              class="btnSubmit"
                              *ngIf="canActivateSubscription"
                              (click)="takeActionOnSubscriptionPackage('Enter comments for action', 'Please provide your comments for activating the subscription.', 'activateSubscription')">            
                              Activate Subscription
                      </button>
                    </td> 
                    <td>
                      <button type="submit"
                              class="btnReject"
                              *ngIf="canTerminateSubscription"
                              (click)="takeActionOnSubscriptionPackage('Enter comments for action', 'Please provide your comments for ending the subscription.', 'endSubscription', true)">            
                              Terminate Subscription
                      </button>
                    </td>              
                    <td>
                      <button type="submit"
                              class="btnReset"
                              *ngIf="canCreateAssignment"
                              (click)="takeActionOnSubscriptionPackage('Enter comments for action', 'Please provide your comments for creating assignment.', 'createAssignment')">            
                              Create Assignment
                      </button>
                    </td>
                  </tr>
              </table>
            </td>
          </tr>
        </table>
        <table class="form-container-generic-table">
          <tr>
            <td align="right">
                <button *ngIf="showRecordUpdateButton" type="submit"
                        class="ok-button form-container-update-button"
                        (click)="updateSubscriptionPackageRecord()">
                  Update Subscription Package
                </button>
            </td>
            <td>
              <button *ngIf="showRecordUpdateButton" type="submit"
                      class="cancel-button form-container-update-button"
                      (click)="resetSubscriptionPackageRecord()">
                Reset Subscription Package
              </button>
            </td>
          </tr>
        </table>
        <div class="form-mask" id="subscription-package-form-mask-loader" [hidden]="subscriptionPackageFormMaskLoaderHidden">
          <div class="form-loader"></div>
        </div>
      </form>
    </div>
  </div>
  <div id="subscription-packages-assignment-data-page" *ngIf="showSubscriptionPackageAssignmentData">
    <button
        id="back-to-subscription-packages-data-button"
        class="back-to-listing-button ok-button" (click)="toggleVisibilitySubscriptionPackageAssignmentGrid()">
        <i class="fas fa-chevron-left" style="padding-right: 15px;"></i>Back To Listing
    </button>
    <app-subscription-package-assignment 
                    [packageAssignmentSerialId]="selectedAssignmentRecordSerialId" 
                    [packageAssignmentDataAccess]="packageAssignmentDataAccess">
    </app-subscription-package-assignment>
  </div>
</div>
