<div id="confirmation-dialog" class="dialog" [hidden]="hideConfirmBox">
    <div class="dialog_modal">
      <span class="title">{{confirmTitle}}</span>
      <span *ngIf="!isMultiMessage" class="message">{{confirmMessage}}</span>
      <div *ngIf="isMultiMessage" class="multi-message-div">
        <div *ngFor="let message of confirmMessagesList; let i = index" class="message-div">
          <span class="message">{{message}}</span>
        </div>
      </div>
      <div class="modal_control">
        <button class="ok-button"
                (click)="onOk()">
                OK
        </button>
        <button class="cancel-button"
                (click)="onCancel()">
                CANCEL
        </button>
      </div>
    </div>
</div>
