table label {
  width: 100%;
  padding-right: 20px;
  text-align: right;
}

table .input_field {
  width: calc(100% - 20px) !important;
  padding: 3px !important;
  margin: 0 !important;
}

.file_chooser_container {
  display: flex;
  flex-direction: column;
}

.file_chooser_container > span {
  color: var(--colorPrimary);
  font-weight: bold;
  font-size: 14px;
  align-self: center;
}

.file_chooser_container .button-primary {
  padding: 5px 10px;
  font-size: 14px;
  align-self: center;
}

.choose_file_container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.choose_file_container > input {
  width: 0;
  height: 0;
  display: none;
}

.attachments {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
