<div>
  <app-grid #assignmentAttendanceGrid id="assignment-attendance-grid" [gridMetaData]="assignmentAttendanceGridMetaData"></app-grid>
  <div class="form-container-div">
      <form id="attendanceDocumentDownloadForm" target="ifrDownload" method="post" class="noscreen">
        <input type="text" value="" size="10" name="assignmentAttendanceSerialId" id="downloadAttendanceDocument-assignmentAttendanceSerialId" />
        <input type="text" value="" size="10" name="documentType" id="downloadAttendanceDocument-documentType" />
      </form>
      <form class="form-container" style="max-width: 80%" *ngIf="showForm">
          <div *ngIf="showEditControlSection"
                class="form-container-toggle-button">
            <button type="submit"
              *ngIf="!isInsertion"
              class="btnSubmit"
              style="width: 140px; height: 46px;"
              (click)="feedAttendance()">            
              Feed Attendance
            </button>
            <label class="tab_container" (change)="editRecordForm = false;">
              <input type="radio" [checked]="!editRecordForm" name="editFormChoice">
              <span class="tab_checkmark left">View</span>
            </label>
            <label class="tab_container" (change)="editRecordForm = true;">
              <input type="radio" [checked]="editRecordForm" name="editFormChoice">
              <span class="tab_checkmark right">Edit</span>
            </label>
          </div>
          <table class="form-container-generic-table">
            <tr>
              <td colspan="2">
                <table class="form-container-generic-table">
                  <tr>
                    <td class="td-label"><label>Assignment Serial Id</label></td>
                    <td colspan="3"><label class="data">{{packageAssignmentSerialId_Modal}}</label></td>                        
                  </tr>
                  <tr>
                    <td class="td-label"><label>Attendance Id</label></td>
                    <td *ngIf="isInsertion" colspan="3"><label class="data">Feeding New Record</label></td>  
                    <td *ngIf="!isInsertion" colspan="3"><label class="data">{{assignmentAttendanceSerialId_Modal}}</label></td>                        
                  </tr>
                  <tr>
                    <td class="td-label"><label>Total Hours</label></td>
                    <td colspan="3"><label class="data">{{totalHours_Modal}}</label></td>                        
                  </tr>
                  <tr>
                    <td class="td-label"><label>Completed Hours</label></td>
                    <td><label class="data">{{completedHours_Modal}}</label></td> 
                    <td class="td-label"><label>Completed Minutes</label></td>
                    <td><label class="data">{{completedMinutes_Modal}}</label></td>             
                  </tr>
                  <tr>            
                    <td class="td-label"><label>Remaining Hours</label></td>
                    <td><label class="data">{{remainingHours}}</label></td>
                    <td class="td-label"><label>Remaining Minutes</label></td>
                    <td><label class="data">{{remainingMinutes}}</label></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <table class="form-container-generic-table">                
                  <tr>
                    <td class="td-label"><label>Entry Date</label></td>
                    <td><input class="input_field" type="date" value="{{entryDate_Modal}}" id="entryDate"
                              [disabled]="!editRecordForm"
                              (change)="updateAssignmentAttendanceProperty('entryDateMillis', $event, 'millis')"></td> 
                    <td class="td-label"><label>Entry Time</label></td>
                    <td><input class="input_field" type="time" value="{{entryTime_Modal}}" id="entryTime"
                              [disabled]="!editRecordForm"
                              (change)="updateAssignmentAttendanceProperty('entryTimeMillis', $event, 'millis')"></td>             
                  </tr>
                  <tr>            
                    <td class="td-label"><label>Exit Date</label></td>
                    <td><input class="input_field" type="date" value="{{exitDate_Modal}}" id="exitDate"
                              [disabled]="!editRecordForm"
                              (change)="updateAssignmentAttendanceProperty('exitDateMillis', $event, 'millis')"></td>
                    <td class="td-label"><label>Exit Time</label></td>
                    <td><input class="input_field" type="time" value="{{exitTime_Modal}}" id="exitTime"
                              [disabled]="!editRecordForm"
                              (change)="updateAssignmentAttendanceProperty('exitTimeMillis', $event, 'millis')"></td>
                  </tr>
                  <tr *ngIf="isOverdue">            
                    <td class="td-label"></td>
                    <td colspan="3"><label class="error">Entry Date & Time should not be more than Exit Date & Time</label></td>
                  </tr>
                  <tr>            
                    <td class="td-label"><label>Duration Hours</label></td>
                    <td><label class="data">{{durationHours}}</label></td>
                    <td class="td-label"><label>Duration Minutes</label></td>
                    <td><label class="data">{{durationMinutes}}</label></td>
                  </tr>
                </table>
              </td>
            </tr>          
            <tr>
              <td class="td-label"><label>Topics Taught</label></td>
              <td>
                <textarea 
                        class="textarea_field"
                        id="topicsTaught"
                        [disabled]="!editRecordForm" 
                        (change)="updateAssignmentAttendanceProperty('topicsTaught', $event, 'string')"
                  >{{topicsTaught_Modal}}</textarea>
              </td>        
            </tr>
            <tr>
              <td class="td-label"><label>Is Classwork Provided</label></td>
              <td>
                <ng-multiselect-dropdown [placeholder]="'Is Classwork Provided'" [data]="yesNoFilterOptions"
                                          [(ngModel)] = "selectedIsClassworkProvidedOptions" name="selectedIsClassworkProvided"
                                          [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                          (onSelect)="updateAssignmentAttendanceProperty('isClassworkProvided', $event, 'list')"
                                          (onDeSelect)="updateAssignmentAttendanceProperty('isClassworkProvided', $event, 'list', true)">
                </ng-multiselect-dropdown>
              </td>      
            </tr>
            <tr>
              <td class="td-label"><label>Is Homework Provided</label></td>
              <td>
                <ng-multiselect-dropdown [placeholder]="'Is Homework Provided'" [data]="yesNoFilterOptions"
                                          [(ngModel)] = "selectedIsHomeworkProvidedOptions" name="selectedIsHomeworkProvided"
                                          [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                          (onSelect)="updateAssignmentAttendanceProperty('isHomeworkProvided', $event, 'list')"
                                          (onDeSelect)="updateAssignmentAttendanceProperty('isHomeworkProvided', $event, 'list', true)">
                </ng-multiselect-dropdown>
              </td>      
            </tr>
            <tr>
              <td class="td-label"><label>Is Test Provided</label></td>
              <td>
                <ng-multiselect-dropdown [placeholder]="'Is Test Provided'" [data]="yesNoFilterOptions"
                                          [(ngModel)] = "selectedIsTestProvidedOptions" name="selectedIsTestProvided"
                                          [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                          (onSelect)="updateAssignmentAttendanceProperty('isTestProvided', $event, 'list')"
                                          (onDeSelect)="updateAssignmentAttendanceProperty('isTestProvided', $event, 'list', true)">
                </ng-multiselect-dropdown>
              </td>      
            </tr>
            <tr>
              <td class="td-label"><label>Tutor Remarks</label></td>
              <td>
                <textarea 
                        class="textarea_field"
                        id="tutorRemarks"
                        [disabled]="!editRecordForm" 
                        (change)="updateAssignmentAttendanceProperty('tutorRemarks', $event, 'string')"
                  >{{tutorRemarks_Modal}}</textarea>
              </td>        
            </tr>
            <tr>
              <td class="td-label"><label>Tutor Punctuality Index</label></td>
              <td>
                <ng-multiselect-dropdown [placeholder]="'Tutor Punctuality Index'" [data]="happinessIndexFilterOptions"
                                          [(ngModel)] = "selectedTutorPunctualityIndexOptions" name="selectedTutorPunctualityIndex"
                                          [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                          (onSelect)="updateAssignmentAttendanceProperty('tutorPunctualityIndex', $event, 'list')"
                                          (onDeSelect)="updateAssignmentAttendanceProperty('tutorPunctualityIndex', $event, 'list', true)">
                </ng-multiselect-dropdown>
              </td>      
            </tr>
            <tr>
              <td class="td-label"><label>Punctuality Remarks</label></td>
              <td>
                <textarea 
                        class="textarea_field"
                        id="punctualityRemarks"
                        [disabled]="!editRecordForm" 
                        (change)="updateAssignmentAttendanceProperty('punctualityRemarks', $event, 'string')"
                  >{{punctualityRemarks_Modal}}</textarea>
              </td>        
            </tr>
            <tr>
              <td class="td-label"><label>Tutor Expertise Index</label></td>
              <td>
                <ng-multiselect-dropdown [placeholder]="'Tutor Expertise Index'" [data]="happinessIndexFilterOptions"
                                          [(ngModel)] = "selectedTutorExpertiseIndexOptions" name="selectedTutorExpertiseIndex"
                                          [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                          (onSelect)="updateAssignmentAttendanceProperty('tutorExpertiseIndex', $event, 'list')"
                                          (onDeSelect)="updateAssignmentAttendanceProperty('tutorExpertiseIndex', $event, 'list', true)">
                </ng-multiselect-dropdown>
              </td>      
            </tr>
            <tr>
              <td class="td-label"><label>Expertise Remarks</label></td>
              <td>
                <textarea 
                        class="textarea_field"
                        id="expertiseRemarks"
                        [disabled]="!editRecordForm" 
                        (change)="updateAssignmentAttendanceProperty('expertiseRemarks', $event, 'string')"
                  >{{expertiseRemarks_Modal}}</textarea>
              </td>        
            </tr>
            <tr>
              <td class="td-label"><label>Tutor Knowledge Index</label></td>
              <td>
                <ng-multiselect-dropdown [placeholder]="'Tutor Knowledge Index'" [data]="happinessIndexFilterOptions"
                                          [(ngModel)] = "selectedTutorKnowledgeIndexOptions" name="selectedTutorKnowledgeIndex"
                                          [settings]="singleSelectOptions" [disabled]="!editRecordForm"
                                          (onSelect)="updateAssignmentAttendanceProperty('tutorKnowledgeIndex', $event, 'list')"
                                          (onDeSelect)="updateAssignmentAttendanceProperty('tutorKnowledgeIndex', $event, 'list', true)">
                </ng-multiselect-dropdown>
              </td>      
            </tr>
            <tr>
              <td class="td-label"><label>Knowledge Remarks</label></td>
              <td>
                <textarea 
                        class="textarea_field"
                        id="knowledgeRemarks"
                        [disabled]="!editRecordForm" 
                        (change)="updateAssignmentAttendanceProperty('knowledgeRemarks', $event, 'string')"
                  >{{knowledgeRemarks_Modal}}</textarea>
              </td>        
            </tr>
            <tr>
              <td class="td-label"><label>Student Remarks</label></td>
              <td>
                <textarea 
                        class="textarea_field"
                        id="studentRemarks"
                        [disabled]="!editRecordForm" 
                        (change)="updateAssignmentAttendanceProperty('studentRemarks', $event, 'string')"
                  >{{studentRemarks_Modal}}</textarea>
              </td>        
            </tr>
          </table>
          <div class="attachments" *ngIf="!isInsertion || (isInsertion && editRecordForm)">
            <div *ngIf="totalFiles > 0">
                <button class="inline-btnSubmit" (click)="downloadAssignmentAttendanceAllDocuments()">Download All</button>
            </div>
            <!--Classwork Document-->
            <div class="file_chooser_container">
              <div *ngIf="!classworkFileExists && editRecordForm">
                <span>Attach Classwork:</span>
                <label *ngIf="!classworkFile" for="classwork_file" class="choose_file_container">
                  <input name="id_proof" type="file" accept="file/*" id="classwork_file" [disabled]="!editRecordForm"
                          (change)="attachFile($event,'classwork')">
                  <span class="button-primary"> Click to Upload </span>              
                </label>
                <div *ngIf="classworkFile" class="attachment_layout">
                  <span title="{{classworkFile.name.split('/').pop()}}" style="cursor: default">{{classworkFile.name.split('/').pop().split('.')[0].substr(0,8)}}</span>
                  <span style="cursor: pointer" (click)="detachFile('classwork')">&times;</span>
                </div>
              </div>
              <div *ngIf="classworkFileExists">
                <div style="margin-left: 20%;">Classwork File:</div>
                <button *ngIf="documentRemovalAccess" class="inline-btnReject" (click)="removeAssignmentAttendanceDocumentUploadedFile('classwork')">Remove</button>
                <button class="inline-btnSubmit" (click)="downloadAssignmentAttendanceDocumentFile('classwork')">Download</button>
              </div>
              <div *ngIf="!classworkFileExists && !editRecordForm">
                  <div style="margin-left: 20%;">No Classwork File</div>
              </div>
            </div>
            <!--Homework Document-->
            <div class="file_chooser_container">
              <div *ngIf="!homeworkFileExists && editRecordForm">
                <span>Attach Homework:</span>
                <label *ngIf="!homeworkFile" for="homework_file" class="choose_file_container">
                  <input name="id_proof" type="file" accept="file/*" id="homework_file" [disabled]="!editRecordForm"
                          (change)="attachFile($event,'homework')">
                  <span class="button-primary"> Click to Upload </span>
                </label>
                <div *ngIf="homeworkFile" class="attachment_layout">
                  <span title="{{homeworkFile.name.split('/').pop()}}" style="cursor: default">{{homeworkFile.name.split('/').pop().split('.')[0].substr(0,8)}}</span>
                  <span style="cursor: pointer" (click)="detachFile('homework')">&times;</span>
                </div>
              </div>
              <div *ngIf="homeworkFileExists">
                <div style="margin-left: 20%;">Homework File:</div>
                <button *ngIf="documentRemovalAccess" class="inline-btnReject" (click)="removeAssignmentAttendanceDocumentUploadedFile('homework')">Remove</button>
                <button class="inline-btnSubmit" (click)="downloadAssignmentAttendanceDocumentFile('homework')">Download</button>
              </div>
              <div *ngIf="!homeworkFileExists && !editRecordForm">
                  <div style="margin-left: 20%;">No Homework File</div>
              </div>
            </div>
            <!--Test Document-->
            <div class="file_chooser_container">
              <div *ngIf="!testFileExists && editRecordForm">
                <span>Attach Test:</span>
                <label *ngIf="!testFile" for="test_file" class="choose_file_container">
                  <input name="id_proof" type="file" accept="file/*" id="test_file" [disabled]="!editRecordForm"
                          (change)="attachFile($event,'test')">
                  <span class="button-primary"> Click to Upload </span>
                </label>
                <div *ngIf="testFile" class="attachment_layout">
                  <span title="{{testFile.name.split('/').pop()}}" style="cursor: default">{{testFile.name.split('/').pop().split('.')[0].substr(0,8)}}</span>
                  <span style="cursor: pointer" (click)="detachFile('test')">&times;</span>
                </div>
              </div>
              <div *ngIf="testFileExists">
                <div style="margin-left: 20%;">Test File:</div>
                <button *ngIf="documentRemovalAccess" class="inline-btnReject" (click)="removeAssignmentAttendanceDocumentUploadedFile('test')">Remove</button>
                <button class="inline-btnSubmit" (click)="downloadAssignmentAttendanceDocumentFile('test')">Download</button>
              </div>
              <div *ngIf="!testFileExists && !editRecordForm">
                  <div style="margin-left: 20%;">No Test File</div>
              </div>
            </div>
            <!--Other Document-->
            <div class="file_chooser_container">
              <div *ngIf="!otherFileExists && editRecordForm">
                <span>Attach Other Doc:</span>
                <label *ngIf="!otherFile" for="other_file" class="choose_file_container">
                  <input name="id_proof" type="file" accept="file/*" id="other_file" [disabled]="!editRecordForm"
                          (change)="attachFile($event,'other')">
                  <span class="button-primary"> Click to Upload </span>
                </label>
                <div *ngIf="otherFile" class="attachment_layout">
                  <span title="{{otherFile.name.split('/').pop()}}" style="cursor: default">{{otherFile.name.split('/').pop().split('.')[0].substr(0,8)}}</span>
                  <span style="cursor: pointer" (click)="detachFile('other')">&times;</span>
                </div>
              </div>
              <div *ngIf="otherFileExists">
                <div style="margin-left: 20%;">Other File:</div>
                <button *ngIf="documentRemovalAccess" class="inline-btnReject" (click)="removeAssignmentAttendanceDocumentUploadedFile('other')">Remove</button>
                <button class="inline-btnSubmit" (click)="downloadAssignmentAttendanceDocumentFile('other')">Download</button>
              </div>
              <div *ngIf="!otherFileExists && !editRecordForm">
                  <div style="margin-left: 20%;">No Other File</div>
              </div>
            </div>
          </div>
          <button *ngIf="showInsertButton" type="submit"
                class="ok-button form-container-update-button"
                (click)="insertAssignmentAttendanceRecord()">
            Insert Attendance
          </button>
          <button *ngIf="showUpdateButton" type="submit"
                class="ok-button form-container-update-button"
                (click)="updateAssignmentAttendanceRecord()">
            Update Attendance
          </button>
          <div class="form-mask" id="assignment-attendance-form-mask-loader" [hidden]="assignmentAttendanceFormMaskLoaderHidden">
            <div class="form-loader"></div>
          </div>
      </form>
  </div>
</div>
